!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title CPA - Квитанция
          :css
            body {
                font-family: arial;
            }

            table {
            	border-collapse: collapse;
            	font-size: 15px;
            }

            table td {
            	padding: 0 8px;
            	height: 22px;
            	border: 1px solid gray;
            }

            .center {
            	text-align: center;
            }

            .right {
            	text-align: right;
            }

            small {
            	font-size: 10px;
            }

            .no-border {
            	border: none;
            	padding-left: 25px;
            }
  %body
    - @orders.each do |order|
      %table
        %tr
          %td
            %img{:src => "http://www.kase.kz/files/emitters/_logotypes/post_.gif", :width => "100"}/
          %td.center{:colspan => "2"} КВИТАНЦИЯ №
          %td.no-border{:rowspan => "21"}
            ИП «Кумаров Д.Б.»
            %br
            Ул. Ауэзова д.13 А/Я No20
            %br
            г. Астана
            %br
            %br
            %br
            Ценность: #{order.total_amount} тенге
            %br
            %br
            Наложенный платеж: #{order.total_amount} тенге
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            Имя: #{order.customer.name}
            %br
            Телефон: #{order.customer.phone}
            %br
            Адрес: #{order.customer.address}
            %br
            Индекс: #{order.customer.zip}
        %tr
          %td
          %td.center{:colspan => "2"} на оплату наличными
        %tr
          %td
          %td{:colspan => "2"} Плательщик (ФИО) #{order.customer.name}
        %tr
          %td
            %small Код платежа
          %td{:colspan => "2"}
            %small &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(фамилия и инициалы)
        %tr
          %td.right
            %small 4718
          %td{:colspan => "2"}
            %small ИИНПлательщикаКод
        %tr
          %td
            %small Номер посылки
          %td{:colspan => "2"}
        %tr
          %td —
          %td{:colspan => "2"}
            %small Адрес и телефон Плательщика:
        %tr
          %td
          %td{:colspan => "2"} #{order.customer.zip} #{order.customer.address} #{order.customer.phone}
        %tr
          %td
          %td{:colspan => "2"}
            %small Получатель платежа
            ИП «Кумаров Д.Б.»
        %tr
          %td
          %td{:colspan => "2"}
            %small (КНП)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(организация)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;БИН/ИНН&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;КБЕ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;КНП
        %tr
          %td
          %td{:colspan => "2"}
            %b 83102130028819&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19
        %tr
          %td
          %td{:colspan => "2"}
            %small ИИК
            KZ938210439812122626
        %tr
          %td
            %small Кассир:
          %td{:colspan => "2"}
            %small Банк
            АО «Bank RBK»
        %tr
          %td
          %td{:colspan => "2"}
            %small БИК
            KINCKZKA
        %tr
          %td
          %td.center{:width => "420"}
            %small Наименование платежа
          %td.center{:width => "100"}
            %small Сумма
        %tr
          %td
          %td
            %small Номер посылки:
          %td
        %tr
          %td
          %td
          %td
        %tr
          %td
          %td
          %td
        %tr
          %td
          %td
            %small ВСЕГО (сумма цифрами):
          %td.center
            %b #{order.total_amount}
        %tr
          %td
          %td{:colspan => "2"}
            %small ВСЕГО (прописью): #{RuPropisju.tenge(order.total_amount)}
        %tr
          %td
          %td{:colspan => "2"}
            %small Дата «____» ________________ 20_____г. Подпись Плательщика _______________
      %table
        %tr
          %td
            %img{:src => "http://www.kase.kz/files/emitters/_logotypes/post_.gif", :width => "100"}/
          %td.center{:colspan => "2"} КВИТАНЦИЯ №
          %td.no-border{:rowspan => "21"}
            Телефон.тех. поддержки:+7719966517
            %br
            Номер Заказа: #{order.id}
            %br
            #{order.offer.name}
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            в кол-ве 1
            %br
            ЦОУ АСТАНА ПОЧТАМТ
            %br
            %img{:src => "data:image/png;base64,#{order.barcode_output}", :width => "200",  height: '50'}
            %br
            RD011172737KZ
        %tr
          %td
          %td.center{:colspan => "2"} на оплату наличными
        %tr
          %td
          %td{:colspan => "2"} Плательщик (ФИО) #{order.customer.name}
        %tr
          %td
            %small Код платежа
          %td{:colspan => "2"}
            %small &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(фамилия и инициалы)
        %tr
          %td.right
            %small 4718
          %td{:colspan => "2"}
            %small ИИНПлательщикаКод
        %tr
          %td
            %small Номер посылки
          %td{:colspan => "2"}
        %tr
          %td —
          %td{:colspan => "2"}
            %small Адрес и телефон Плательщика:
        %tr
          %td
          %td{:colspan => "2"} #{order.customer.zip} #{order.customer.address} #{order.customer.phone}
        %tr
          %td
          %td{:colspan => "2"}
            %small Получатель платежа
            ИП «Кумаров Д.Б.»
        %tr
          %td
          %td{:colspan => "2"}
            %small (КНП)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(организация)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;БИН/ИНН&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;КБЕ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;КНП
        %tr
          %td
          %td{:colspan => "2"}
            %b 83102130028819&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19
        %tr
          %td
          %td{:colspan => "2"}
            %small ИИК
            KZ938210439812122626
        %tr
          %td
            %small Кассир:
          %td{:colspan => "2"}
            %small Банк
            АО «Bank RBK»
        %tr
          %td
          %td{:colspan => "2"}
            %small БИК
            KINCKZKA
        %tr
          %td
          %td.center{:width => "420"}
            %small Наименование платежа
          %td.center{:width => "100"}
            %small Сумма
        %tr
          %td
          %td
            %small Номер посылки:
          %td
        %tr
          %td
          %td
          %td
        %tr
          %td
          %td
          %td
        %tr
          %td
          %td
            %small ВСЕГО (сумма цифрами):
          %td.center
            %b #{order.total_amount}
        %tr
          %td
          %td{:colspan => "2"}
            %small ВСЕГО (прописью): #{RuPropisju.tenge(order.total_amount)}
      %p
        %small ЦОУ АСТАНА ПОЧТАМТ
      %img{:src => "data:image/png;base64,#{order.barcode_output}", :width => "200",  height: '50'}
