
/* TABLES */

.orders-table .btn-group {
  width: 100%;
}

.orders-table .btn-group .btn {
  border: none;
  border-radius: 0;
}

.orders-table tr {
  cursor: pointer;
}

.offers-list-offer-status {
  margin: 0 !important;
}

.offers-table th {
  padding: 0 !important;
}

.offers-add-modal-list-unstyled {
  padding: 8px;
}

.offers-table th:first-of-type,
.offers-table td:first-of-type {
  width: 100px;
}

.items-table th:first-of-type,
.items-table td:first-of-type {
  width: 40px;
}

.items-table th:last-of-type,
.items-table td:last-of-type {
  width: 40px;
}