.container{"ng-app" => true}
  .row
    .col-md-4.col-md-offset-4
      %form{:role => "form", "accept-charset" => "UTF-8", :action => "/access/", :method => "post"}
        = hidden_field_tag :authenticity_token, form_authenticity_token
        %h2 Регистрация
        .form-group
          %label Имя
          %input#first_name.form-control{:autofocus => "", :placeholder => "Введите имя", name: 'user[first_name]'}(required)/
        .form-group
          %label Фамилия
          %input#last_name.form-control{:placeholder => "Введите фамилию", name: 'user[last_name]'}(required)/
        .form-group
          %label Email
          %input#inputEmail.form-control{:placeholder => "Введите email",:type => "email", name: 'user[email]'}(required)/
        .form-group
          %label Пароль 8 символов
          %input#inputPassword.form-control{:placeholder => "Введите пароль", :type => "password", name: 'user[password]'}(required)/
        .form-group
          %label Подтверждение пароля
          %input#inputPasswordConfirmation.form-control{placeholder: 'Введите пароль повторно', type: 'password', name: 'user[password_confirmation]'}(required)/

        .form-group.text-center
          %label.radio-inline
            %input#inlineRadio1{:name => "user[user_type]", :type => "radio", :value => "1", "ng-init" => "is_advert = true", "ng-click" => "is_advert = true"}(checked)/
            Я advert
          %label.radio-inline
            %input#inlineRadio2{:name => "user[user_type]", :type => "radio", :value => "2", "ng-click" => "is_advert = false"}/
            Я webmaster
        %p.text-center
          %a{href: new_user_session_path} Не знаете что выбрать?
        .form-group
          %label.sr-only{:for => "inputSkype"} Введите Skype
          %input#inputSkype.form-control{name: 'user[skype]', :placeholder => "Ваш Skype", :type => "text"}/
        .form-group
          %label.sr-only{:for => "inputICQ"} Введите ICQ
          %input#inputICQ.form-control{name: 'user[icq]', :placeholder => "Ваш ICQ", :type => "text"}/
        /
          div class="checkbox">
          <label>
          <input type="checkbox" value="remember-me"> Запомнить меня
          </label>
          </div
        .form-group
          %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Зарегистрироваться
        %p.text-center
          или
          %a{href: new_user_session_path} Войти



-#%h2 Sign up
-#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#  = devise_error_messages!
-#  %div
-#    = f.label :email
-#    %br/
-#    = f.email_field :email, autofocus: true
-#  %div
-#    = f.label :password
-#    - if @validatable
-#      %i
-#        (#{@minimum_password_length} characters minimum)
-#    %br/
-#    = f.password_field :password, autocomplete: "off"
-#  %div
-#    = f.label :password_confirmation
-#    %br/
-#    = f.password_field :password_confirmation, autocomplete: "off"
-#  %div= f.submit "Sign up"
-#= render "devise/shared/links"
