!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3
      Добро пожаловать на CPARM, #{@user.email}! Вас пригласили в компанию #{@company.name}
    %p
      Ваш пароль на сайте #{@password}.
      %br
    %p
      Вы можете войти в систему через http://cparm.0day.kz/