/ Modal
#invite-webmaster.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "add-webmaster-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#employees-add-modal-label.modal-title Пригласить вебмастера
      .modal-body
        %form
          .content
            .row
              .form-group.col-xs-12
                %label{:for => "offers-add-modal-company-input"} email
                %input#add-webmaster-webmaster-input.form-control{"ng-model" => "webmaster.email", :placeholder => "email", :type => "email"}
      .modal-footer
        .content.well{"ng-if" => "debug"}
          %pre
            {{webmaster | json}}
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{"ng-click" => "invite_webmaster(webmaster)", :type => "button", "ng-disabled" => "!webmaster.email"} Сохранить
