/ Modal
#customer-edit-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "customer-edit-modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Отмена", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#offers-add-modal-label.modal-title
          Информация о клиенте
      .modal-body
        .panel-body
          .form-group.col-xs-6
            %label{:for => "customer-lastname"} Фамилия
            %input#customer-lastname.form-control{"ng-disabled" => "!hasAccess('advert_admin, call_manager, call_operator')", 'ng-model' => "current_customer.last_name", :type => "text"}
          .form-group.col-xs-6
            %label{:for => "customer-firstname"} Имя
            %input#customer-firstname.form-control{"ng-disabled" => "!hasAccess('advert_admin, call_manager, call_operator')", 'ng-model' => "current_customer.first_name", :type => "text"}
          .form-group.col-xs-6
            %label{:for => "customer-phone"} Телефон
            %input#customer-phone.form-control{"ng-disabled" => "!hasAccess('advert_admin, call_manager, call_operator')", 'ng-model' => "current_customer.phone", :type => "tel"}
          .form-group.col-xs-6
            %label{:for => "customer-country"} Страна
            %select#customer-country.form-control{"ng-disabled" => "!hasAccess('advert_admin, call_manager, call_operator')", "ng-model" => "current_customer.country", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 0}'}
          .form-group.col-xs-6
            %label{:for => "customer-zipcode"} Индекс
            %input#customer-zipcode.form-control{"ng-disabled" => "!hasAccess('advert_admin, call_manager, call_operator')", 'ng-model' => "current_customer.zip"}
          .form-group.col-xs-6
            %label{:for => "customer-province"} Район
            %input#customer-province.form-control{"ng-disabled" => "!hasAccess('advert_admin, call_manager, call_operator')", 'ng-model' => "current_customer.province", :type => "text"}
          .form-group.col-xs-6
            %label{:for => "customer-city"} Город
            %input#customer-city.form-control{"ng-disabled" => "!hasAccess('advert_admin, call_manager, call_operator')", 'ng-model' => "current_customer.city"}
          .form-group.col-xs-12
            %label{:for => "customer-adress"} Адрес
            %input#customer-adress.form-control{"ng-disabled" => "!hasAccess('advert_admin, call_manager, call_operator')", 'ng-model' => "current_customer.address", :type => "text"}
      .content.well{"ng-if" => "debug"}
        %pre
          {{current_customer | json}}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button", 'ng-click' => 'save_customer(current_customer)'} Сохранить
/ Modal