/ Modal
#add-new-dictionary.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "add-new-dictionary-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#add-new-dictionary-label.modal-title Добавить переменую
      .modal-body
        %form
          .content
            .row
              .form-group.col-xs-12
                %label Название
                %input.form-control{'ng-model' => "new_dictionary.name", :placeholder => "Название", :type => "text"}
              .form-group.col-xs-12
                %label Дополнительно
                %input.form-control{'ng-model' => "new_dictionary.additional", :placeholder => "Дополнительно", :rows => "4"}
      .modal-footer
        .content.well{"ng-if" => "debug"}
          %pre
            {{new_dictionary | json}}
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{'ng-click' => "add_dictionary()", :type => "button", "ng-disabled" => "!new_dictionary.name"} Сохранить