/ Modal
#employees-add-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "employees-add-modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#employees-add-modal-label.modal-title Добавить сотрудника
      .modal-body
        %form
          .content
            .row
              .form-group.col-xs-12
                %label{:for => "offers-add-modal-company-input"} email
                %input#offers-add-modal-company-input.form-control{"ng-model" => "employee.email", :placeholder => "email", :type => "email"}
              .form-group.col-xs-12
                %label Роли
                .checkbox{"ng-repeat" => "(role, name) in roles"}
                  %label
                    %input{"ng-model" => "employee.roles[role]", :type => "checkbox", :value => "1"}
                      {{name}}
      .modal-footer
        .content.well{"ng-if" => "debug"}
          %pre
            {{employee | json}}
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{"ng-click" => "add_employee()", :type => "button", "ng-disabled" => "!employee.email"} Сохранить

/ Модальное окно редактирование инфо о сотруднике
#employees-list-employee-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "employees-list-employee-modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#employees-list-employee-modal-label.modal-title Редактировать информацию о сотруднике
      .modal-body
        %form
          .content
            .row
              .form-group.col-xs-6
                %label{:for => "employees-list-employee-modal-firstname-input"} Имя
                %input#employees-list-employee-modal-firstnam-input.form-control{"ng-model" => "employee.user.first_name", :disabled => "", :placeholder => "Имя", :type => "text"}
              .form-group.col-xs-6
                %label{:for => "employees-list-employee-modal-lastname-input"} Фамилия
                %input#employees-list-employee-modal-lastname-input.form-control{"ng-model" => "employee.user.last_name", :disabled => "", :placeholder => "Фамилия", :type => "text"}
              .form-group.col-xs-6
                %label{:for => "employees-list-employee-modal-description-input"} Пароль
                %input#employees-list-employee-modal-description-input.form-control{"ng-model" => "employee.user.password", :disabled => "", :placeholder => "Пароль", :type => "password"}
              .form-group.col-xs-6
                %label{:for => "employees-list-employee-modal-company-input"} email
                %input#employees-list-employee-modal-company-input.form-control{"ng-model" => "employee.user.email", :disabled => "", :placeholder => "email", :type => "email"}
              .form-group.col-xs-12
                %label Роли
                .checkbox{"ng-repeat" => "(role, name) in roles"}
                  %label
                    %input{"ng-model" => "employee.roles[role]", :type => "checkbox", :value => "1"}
                      {{roles[role]}}
      .modal-footer
        .content.well{"ng-if" => "debug"}
          %pre
            {{employee | json}}
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{"ng-click" => "add_employee()", :type => "button"} Сохранить