/ Модальное окно добавления компании
#company-add-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "company-add-modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#company-add-modal-label.modal-title{"ng-show" => "new_company.id == undefined"} Добавить компанию
        %h4#company-add-modal-label.modal-title{"ng-show" => "new_company.id != undefined"} Изменить компанию
      .modal-body
        %form
          .content
            .row
              .form-group.col-xs-12
                %label{:for => "company-add-modal-name-input"} Название
                %input#company-add-modal-name-input.form-control{"ng-model" => "new_company.name", :placeholder => "Название", :type => "text"}
              .form-group.col-xs-12
                %label{:for => "company-add-modal-name-input"} Описание
                %textarea#company-add-modal-name-input.form-control{"ng-model" => "new_company.description", :placeholder => "Описание", :rows => "4"}
            .row
              .form-group.col-xs-12
                .well{:style => "color:red"}
                  Не добовляйте новую компанию, если вы являетесь сотрудником, дождитесь приглашения от администрации.
            .row
              .content.well{"ng-if" => "debug"}
                %pre
                  {{new_company | json}}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{"ng-click" => "add_company()",:type => "button"} Сохранить
/ Модальное окно добавления компании