/ Modal
#new-order-status-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "new-order-status-modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#new-order-status-modal-label.modal-title Создать новый статус
      .modal-body
        %form
          .content
            .row
              .form-group.col-xs-12
                %label Название статуса
                %input.form-control{"ng-model" => "employee.roles[role]", :type => "text"}
                  {{name}}
      .modal-footer
        .content.well{"ng-if" => "debug"}
          %pre
            {{employee | json}}
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{"ng-click" => "add_employee()", :type => "button"} Сохранить
