/ Modal
#offers-add-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "offers-add-modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Отмена", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#offers-add-modal-label.modal-title Добавить оффер
      .modal-body
        %form.form
          .row

            -# Название
            .form-group.col-sm-9
              %label{:for => "offers-add-modal-name-input"} Название
              %input#offers-add-modal-name-input.form-control{'ng-model' => "offer.name", :placeholder => "Название", :type => "text"}

            -# Доступ
            .form-group.col-sm-3
              %label Доступ
              %select.form-control{"ng-init" => "offer.private = private_types[0].value", "ng-model" => "offer.private", "ng-options" => "item.value as item.name for item in private_types"}

            -# Описание
            .form-group.col-sm-12
              %label{:for => "offers-add-modal-description-input"} Описание
              %textarea#offers-add-modal-description-input.form-control{'ng-model' => "offer.description", :placeholder => "Описание", :type => "text"}

            -# Продукт
            .form-group.col-sm-12
              %label Продукт
              %select.form-control{'ng-model' => 'offer.product_id', 'ng-options' => 'product.id as product.name for product in company.products'}

            -#.form-group.col-sm-6
            -#  %label{:for => "offers-add-modal-company-input"} Компания
            -#  %input#offers-add-modal-company-input.form-control{'ng-model' => "offer.company", :placeholder => "Компания", :type => "text"}
            -#.form-group.col-sm-6
            -#  %label{:for => "offer-add-modal-country-input"} Страна
            -#  %input#offer-add-modal-country-input.form-control{'ng-model' => "offer.country", :placeholder => "Страна", :type => "text"}
            -#.form-group.col-sm-6
            -#  %label{:for => "offer-add-modal-percent-input"} Процент
            -#  .input-group
            -#    %input#offer-add-modal-percent-input.form-control{'ng-model' => "offer.percent", "aria-describedby" => "basic-addon2", :placeholder => "Процент", :type => "number"}
            -#      %span#basic-addon2.input-group-addon .00%
            .form-group.col-sm-6
              %label{:for => "offer-add-modal-price-input"} Цена
              .input-group
                %input#offer-add-modal-price-input.form-control{'ng-model' => "offer.price", "aria-describedby" => "basic-addon2", :placeholder => "Цена", :type => "number"}
                  %span#basic-addon2.input-group-addon .00тг
            .form-group.col-sm-6
              %label{:for => "offer-add-modal-price-input"} Валюта
              .input-group
                %select.form-control{'ng-model' => "offer.currency", "ng-options" => "key*1 as item for (key, item) in currency"}
            .form-group.col-sm-6
              %label{:for => "offers-add-modal-lp-add"} Landing page
              .input-group
                %input#offers-add-modal-lp-add.form-control{'ng-model' => "lp_add_inpt", :placeholder => "Landing page", :type => "text"}
                  %span.input-group-btn
                    %button.btn.btn-default{"ng-click" => "add_to_list('landing_pages', lp_add_inpt)", :type => "button"} Добавить
              %ul.list-unstyled.offers-add-modal-list-unstyled
                %li{'ng-repeat' => 'landing_page in offer.landing_pages'}
                  %a{"ng-click" => "delete_from_list('landing_pages', $index)", :href => "#"}
                    %span.glyphicon.glyphicon-remove {{landing_page.url ? landing_page.url : landing_page}}

            -#.form-group.col-sm-6
            -#  %label{:for => "offers-add-modal-tp-add"} Transit page
            -#  .input-group
            -#    %input#offers-add-modal-tp-add.form-control{'ng-model' => "tp_inpt", :placeholder => "Transit page", :type => "text"}
            -#      %span.input-group-btn
            -#        %button.btn.btn-default{"ng-click" => "add_to_list('tp', tp_inpt)", :type => "button"} Добавить
            -#  %ul.list-unstyled.offers-add-modal-list-unstyled
            -#    %li{'ng-repeat' => 'tp in offer.tp'}
            -#      %a{"ng-click" => "delete_from_list('tp', $index)", :href => "#"}
            -#        %span.glyphicon.glyphicon-remove {{tp}}
            .form-group.col-sm-6
              %label{:for => "offers-add-modal-country-add"} Страны
              .input-group
                %input#offers-add-modal-country-add.form-control{'ng-model' => "countries_inpt", :placeholder => "Страны", :type => "text"}
                  %span.input-group-btn
                    %button.btn.btn-default{"ng-click" => "add_to_list('geos', countries_inpt)", :type => "button"} Добавить
              %ul.list-unstyled.offers-add-modal-list-unstyled
                %li{'ng-repeat' => 'country in offer.geos'}
                  %a{"ng-click" => "delete_from_list('geos', $index)", :href => "#"}
                    %span.glyphicon.glyphicon-remove {{country.name ? country.name : country}}

            -#.form-group.col-sm-6.disabled
            -#  %label{:for => "offers-add-modal-city-add"} Города
            -#  .input-group
            -#    %input#offers-add-modal-city-add.form-control{'ng-model' => "cities_inpt", :placeholder => "Города", :type => "text"}
            -#      %span.input-group-btn
            -#        //%button.btn.btn-default{"ng-click" => "add_to_list('cities', cities_inpt)", :type => "button"} Добавить
            -#  %ul.list-unstyled.offers-add-modal-list-unstyled
            -#    %li{'ng-repeat' => 'city in offer.cities'}
            -#      %a{"ng-click" => "delete_from_list('cities', $index)", :href => "#"}
            -#        %span.glyphicon.glyphicon-remove {{city}}

      .modal-footer
        .content.well{"ng-if" => "debug"}
          %pre
            {{offer | json}}
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{:type => "button", "ng-click" => "add_offer()", "ng-disabled" => "!offer.landing_pages || offer.landing_pages.length<=0 || !offer.product_id"} Сохранить