/ Modal
#orders-info-modal.modal{"aria-hidden" => "true", "aria-labelledby" => "orders-info-modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Отмена", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#offers-add-modal-label.modal-title
          Заказ # {{current_order.id}} из магазина
          %a{"ng-href" => "{{current_order.landing_page}}", :target => "_blank"} {{current_order.landing_page}}
          на сумму {{current_order.total_amount | tenge_currency}}
          %select#order-status.form-control{"ng-model" => "current_order.status_id", 'ng-options' => "item.id as item.name for item in company.dictionaries | filter:{object_type: 5, additional: hasAccess('log_operator')?'1':''}"}
      .modal-body
        .form-group.col-xs-6{"ng-hide" => "true"}
          %label Скидка в процентах на весь заказ
          %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-change" => "recount_total_amount(current_order)", :min => "0", :max => "100", :step => "1", :type => "number", "ng-model" => "current_order.total_amount_percent", :disabled => "true"}
        .form-group.col-xs-6{"ng-hide" => "true"}
          %label Скидка в сумме на весь заказ
          %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-change" => "recount_total_amount(current_order)", :min => "0", :step => "100", :type => "number", "ng-model" => "current_order.total_amount_discount", :disabled => "true"}
        %accordion#accordion.panel-group{"aria-multiselectable" => "false", :role => "tablist", "close-others" => "false"}
          %accordion-group{:heading => "Информация о товаре", "is-open" => "true"}
            .panel-body{"ng-repeat" => "order_product in current_order.order_products"}
              .form-group.col-xs-6{"ng-hide" => "true"}
                %label Общая сумма на товар
                %input.form-control{:type => "text", "ng-model" => "order_product.product_total_amount"}
              .form-group.col-xs-12
                %label{:for => "order-name"} Продукт
                %select#order-name.form-control{"ng-model" => "order_product.product_id", 'ng-options' => 'product.id as product.name for product in company.products', "tooltip"=>"{{order_product.product_id|get_by_id:'products':'description'}}"}
              .form-group.col-xs-6
                %label{:for => "order-amount"} Количество
                %input#order-amount.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-change" => "recount_total_amount(current_order)", :min => "0", :type => "number", "ng-model" => "order_product.count"}
              .form-group.col-xs-6
                %label{:for => "order-price"} Цена
                .input-group
                  .input-group-addon тг
                  %input#order-price.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-change" => "recount_total_amount(current_order)", :min => "0", :step => "100", :type => "number", "ng-model" => "order_product.price", :disabled => "true"}
                    .input-group-addon .00
              .form-group.col-xs-6{"ng-hide" => "true"}
                %label Скидка в процентах
                .input-group
                  %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-change" => "recount_total_amount(current_order)", :min => "0", :max => "100", :step => "1", :type => "number", "ng-model" => "order_product.percent", :disabled => "true"}
                    .input-group-addon %
              .form-group.col-xs-6{"ng-hide" => "true"}
                %label Скидка в сумме
                .input-group
                  .input-group-addon тг
                  %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-change" => "recount_total_amount(current_order)", :min => "0", :step => "100", :type => "number", "ng-model" => "order_product.discount", :disabled => "true"}
                    .input-group-addon .00
              .form-group.col-xs-6
                %a{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-click" => "remove_product(current_order, order_product)", :href => "#"}
                  Убрать товар
                  %span.glyphicon.glyphicon-minus
              .panel-body
                %select.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-model" => "add_product_temp", 'ng-options' => 'product as product.name for product in company.products'}
                %a{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-click" => "add_product(current_order, add_product_temp)", :href => "#"}
                  %br
                  Добавить товар
                  %span.glyphicon.glyphicon-plus
          %accordion-group{:heading => "Информация о покупателе", "is-open" => "true"}
            .panel-body
              .form-group.col-xs-12
                %label{:for => "customer-lastname"} Ф.И.О.
                %input#customer-lastname.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", 'ng-model' => "current_order.customer.first_name", :type => "text"}
              .form-group.col-xs-6
                %label{:for => "customer-phone"} Телефон
                %input#customer-phone.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", 'ng-model' => "current_order.customer.phone", :type => "tel"}
              .form-group.col-xs-6{"ng-hide" => "true"}
                %label{:for => "customer-country"} Страна
                %select#customer-country.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-model" => "current_order.customer.country", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 0}'}
              .form-group.col-xs-6
                %label{:for => "customer-zipcode"} Индекс
                %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", 'ng-model' => "current_order.customer.zip", :type => "tel"}
                -#%select#customer-zipcode.form-control{"ng-disabled" => "!hasAccess('advert_admin, call_manager, call_operator')", 'ng-model' => "current_order.customer.zip", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 2}'}
              .form-group.col-xs-6
                %label{:for => "customer-province"} Район
                %input#customer-province.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", 'ng-model' => "current_order.customer.province", :type => "text"}
              .form-group.col-xs-6
                %label{:for => "customer-city"} Город
                %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", 'ng-model' => "current_order.customer.city", :type => "tel"}
                -#%select#customer-city.form-control{"ng-disabled" => "!hasAccess('advert_admin, call_manager, call_operator')", 'ng-model' => "current_order.customer.city", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 1}'}
              .form-group.col-xs-12
                %label{:for => "customer-adress"} Адрес
                %input#customer-adress.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", 'ng-model' => "current_order.customer.address", :type => "text"}
              .form-group.col-xs-12{"ng-hide" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')"}
                %label{:for => "customer-adress"} Автозаполнение
                %select.form-control{"chosen" => true, :style => "max-width: 300px",  "ng-change" => "index_change(auto_index)", "data-placeholder" => "Начните вводить адрес", "ng-model" => "auto_index", 'ng-options' => "item as item.zip + ': ' + item.city + ': ' + provinces[item.zip.substring(0,2)] for item in indexes", "width" => "300"}
                  %option
              .form-group.col-xs-6
                %label{:for => "shipping-method"} Способ доставки
                %select#shipping-method.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, log_operator')", "ng-model" => "current_order.delivery_type_id", 'ng-options' => 'item.id as item.name for item in delivery_types'}
              .form-group.col-xs-6{"ng-show" => "current_order.delivery_type_id == 0"}
                %label{:for => "shipping-company"} Курьерская служба
                %select#shipping-phone.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, log_operator')", "ng-model" => "current_order.courier", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 7}'}
              .form-group.col-xs-6{"ng-show" => "current_order.delivery_type_id == 1"}
                %label{:for => "shipping-company"} Индекс
                %select#shipping-phone.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, log_operator')", "ng-model" => "current_order.zip", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 2}'}
          %accordion-group{:heading => "Информация о доставке", "is-open" => "true", "ng-hide" => "!hasAccess('advert_admin, log_manager, log_operator')"}
            .panel-body
              .form-group.col-xs-6
                %label{:for => "shipping-status"} Статус посылки
                %select#shipping-email.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, log_operator')", "ng-model" => "current_order.logistic_status_id", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 3}'}
              .form-group.col-xs-6
                %label{:for => "shipping-code"} Штрих код
                %input#shipping-country.form-control{"ng-disabled" => "true", :type => "text", "ng-model" => "current_order.barcode"}
              .form-group.col-xs-6
                %label Сумма доставки
                %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, log_operator')", :type => "text", "ng-model" => "current_order.delivery_amount"}
              .form-group.col-xs-6
                %label{:for => "delivery-date"} Дата доставки
                %input#delivery-date.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, log_operator')", :type => "text", "ng-model" => "current_order.delivery_date", :type => "datetime-local"}
              .form-group.col-xs-6
                %label Дата перезвона
                %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, log_operator, call_manager, call_operator')", :type => "text", "ng-model" => "current_order.recall_date", :type => "datetime-local"}
          %accordion-group{:heading => "Журнал над заказом", "is-open" => "true", "ng-hide" => "!hasAccess('advert_admin, log_manager, call_manager')"}
            .panel-body
              %ul.list-group
                %li.list-group-item{"ng-repeat" => "log in current_order.logs track by $index"}
                  {{log}}
        .well
          %label{:for => "order-comment"} Комментарий
          %textarea#order-comment.form-control{"ng-model" => "current_order.customer.comment", :type => "text", :rows => "4"}
      .content.well{"ng-if" => "debug"}
        %pre
          {{current_order | json}}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button", 'ng-click' => 'save_order(current_order)', "ng-disabled" => "current_order.delivery_type_id==0 && !current_order.courier || current_order.delivery_type_id==1 && !current_order.zip"} Сохранить
/ Modal
/ Modal
#new-order-status-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "new-order-status-modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#new-order-status-modal-label.modal-title Создать новый статус
      .modal-body
        %form
          .content
            .row
              .form-group.col-xs-12
                %label Название статуса
                %input.form-control{"ng-model" => "new_status_name", :type => "text"}
      .modal-footer
        .content.well{"ng-if" => "debug"}
          %pre
            {{new_status_name | json}}
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{"ng-click" => "new_status(new_status_name)", :type => "button"} Сохранить

/ Modal
#export-columns-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "export-columns-modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#export-columns-modal-label.modal-title{"ng-show" => "!export_file"} Выберите столбцы для экспорта
        %h4#get-link-modal-label.modal-title{"ng-show" => "export_file"} Ссылка на файл
      .modal-body
        %form
          .content
            .row{"ng-show" => "!export_file"}
              .form-group.col-xs-12
                .checkbox
                  %label
                    %input{:type => "checkbox", "ng-init" => "export_columns.id = true", "ng-model" => "export_columns.id"}
                      номеру
                  %label
                    %input{:type => "checkbox", "ng-init" => "export_columns.status_id = true", "ng-model" => "export_columns.status_id"}
                      статус
                  %label
                    %input{:type => "checkbox", "ng-init" => "export_columns.created_at = true", "ng-model" => "export_columns.created_at"}
                      дата
                  %label
                    %input{:type => "checkbox", "ng-init" => "export_columns.last_name = true", "ng-model" => "export_columns.last_name"}
                      фамилия
                  %label
                    %input{:type => "checkbox", "ng-init" => "export_columns.first_name = true", "ng-model" => "export_columns.first_name"}
                      имя
                  %label
                    %input{:type => "checkbox", "ng-init" => "export_columns.zip = true", "ng-model" => "export_columns.zip"}
                      индекс
                  %label
                    %input{:type => "checkbox", "ng-init" => "export_columns.address = true", "ng-model" => "export_columns.address"}
                      адрес
                  %label
                    %input{:type => "checkbox", "ng-init" => "export_columns.phone = true", "ng-model" => "export_columns.phone"}
                      телефон
                  %label
                    %input{:type => "checkbox", "ng-init" => "export_columns.barcode = true", "ng-model" => "export_columns.barcode"}
                      штрих-код
                  %label
                    %input{:type => "checkbox", "ng-init" => "export_columns.comment = true", "ng-model" => "export_columns.comment"}
                      комментарий
            .row{"ng-show" => "export_file"}
              .form-group.col-xs-12
                %a{"ng-href" => "{{export_file}}", "target" => "_blank", "ng-click" => "download_export_file()" } Скачать файл
      .modal-footer
        .content.well{"ng-if" => "debug"}
          %pre
            {{export_columns | json}}
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{"ng-click" => "export_orders(export_columns)", :type => "button"} Экспорт