/ Modal
#orders-xls-export-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "employees-add-modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#employees-add-modal-label.modal-title Выбрать поля
      .modal-body
        %form
          .content
            .row
              .form-group.col-xs-12
                %label Поля
                .checkbox{"ng-repeat" => "(role, name) in roles"}
                  %label
                    %input{"ng-model" => "employee.roles[role]", :type => "checkbox", :value => "1"}
                      {{name}}
      .modal-footer
        <pre>form = {{employee | json}}</pre>
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{"ng-click" => "add_employee()", :type => "button"} Сохранить
