/ Modal
#new_product.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "new_product", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Добавить товар
      .modal-body
        %form
          .content
            .row
              .form-group.col-sm-12
                %label{:for => "inputItemName"} Название
                %input#inputItemName.form-control{'ng-model' => "product.name", :placeholder => "Введите название", :type => "text"}
              .form-group.col-sm-12
                %label Название на латинице
                %input.form-control{'ng-model' => "product.lat_name", :placeholder => "Введите название на латинице", :type => "text"}
              .form-group.col-sm-12
                %label Описание
                %textarea.form-control{'ng-model' => 'product.description', :placeholder => 'Описание товара'}
              .form-group.col-sm-4
                %label{:for => "inputItemPrice"} Цена
                .input-group
                  %input#inputItemPrice.form-control{'ng-model' => "product.price", :placeholder => "Цена", :type => "number"}
                    %span.input-group-addon тг
              .form-group.col-sm-4
                %label{:for => "inputItemWeight"} Вес
                .input-group
                  %input#inputItemWeight.form-control{'ng-model' => "product.weight", :placeholder => "Вес", :type => "number"}
                    %span.input-group-addon гр
              .form-group.col-sm-4
                %label{:for => "inputItemAmount"} Цена доставки
                .input-group
                  %input#inputItemAmount.form-control.text-center{'ng-model' => "product.delivery_amount", :type => "number"}
                    %span.input-group-addon тг
              .form-group.col-sm-6
                %label Скидка на второй товар
                .input-group
                  %input.form-control.text-center{'ng-model' => "product.sale_two", :type => "number"}
                    %span.input-group-addon тг
              .form-group.col-sm-6
                %label Скидка на третий и последующие
                .input-group
                  %input.form-control.text-center{'ng-model' => "product.sale_three", :type => "number"}
                    %span.input-group-addon тг
      .modal-footer
        .content.well{"ng-if" => "debug"}
          %pre
            {{product | json}}
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{'ng-click' => "add_product()", :type => "button", "ng-disabled" => "!product.price || !product.name"} Сохранить
