/ Modal
#add-new-warehouse.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "add-new-warehouse-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#add-new-warehouse-label.modal-title Добавить склад
      .modal-body
        %form
          .content
            .row
              .form-group.col-xs-12
                %label{:for => "add-new-warehouse-name-input"} Название
                %input#add-new-warehouse-name-input.form-control{'ng-model' => "new_warehouse.name", :placeholder => "Название", :type => "text"}
              .form-group.col-xs-12
                %label{:for => "add-new-warehouse-location-input"} Местонахождение
                %textarea#add-new-warehouse-location-input.form-control{'ng-model' => "new_warehouse.location", :placeholder => "Местонахождение", :rows => "4"}
      .modal-footer
        .content.well{"ng-if" => "debug"}
          %pre
            {{new_warehouse | json}}
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{'ng-click' => "add_warehouse()", :type => "button", "ng-disabled" => "!new_warehouse.name"} Сохранить