#product-arrival.modal.modal-narrow.fade{"aria-hidden" => "true", "aria-labelledby" => "product-arrival-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#product-arrival-label.modal-title Приход товара
      .modal-body
        %form
          .content
            .row
              .form-group.col-xs-12
                %label{:for => "product-arrival-name-input"} Наименование товара
                %select#product-arrival-name-input.form-control{'ng-model' => 'product_arrival.product_id', 'ng-options' => 'product.id as product.name for product in company.products'}
              .form-group.col-xs-8
                %label{:for => "product-arrival-amount-input"} Количество
                .input-group
                  %span.input-group-btn
                    %button.btn.btn-default{'ng-click' => "product_arrival.count = product_arrival.count - 1", :type => "button"}
                      %span -
                  %input#product-arrival-amount-input.form-control.text-center{'ng-model' => 'product_arrival.count', :type => "text", :value => "1"}
                    %span.input-group-btn
                      %button.btn.btn-default{'ng-click' => "product_arrival.count = product_arrival.count + 1", :type => "button"}
                        %span +
      .modal-footer
        .content.well{"ng-if" => "debug"}
          %pre
            {{product_arrival | json}}
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{"ng-click" => "product_arrivals(product_arrival)", :type => "button", "ng-disabled" => "!product_arrival.product_id || !product_arrival.count"} Сохранить

#product-outgo.modal.modal-narrow.fade{"aria-hidden" => "true", "aria-labelledby" => "product-outgo-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#product-outgo-label.modal-title Расход товара
      .modal-body
        %form
          .content
            .row
              .form-group.col-xs-12
                %label{:for => "product-outgo-name-input"} Наименование товара
                %select#product-outgo-name-input.form-control{'ng-model' => 'product_outgo.product_id', 'ng-options' => 'product.id as product.name for product in company.products'}
              .form-group.col-xs-8
                %label{:for => "product-outgo-amount-input"} Количество
                .input-group
                  %span.input-group-btn
                    %button.btn.btn-default{'ng-click' => "product_outgo.count = product_outgo.count - 1", :type => "button"}
                      %span -
                  %input#product-outgo-amount-input.form-control.text-center{'ng-model' => 'product_outgo.count', :type => "text", :value => "1"}
                    %span.input-group-btn
                      %button.btn.btn-default{'ng-click' => "product_outgo.count = product_outgo.count + 1", :type => "button"}
                        %span +
      .modal-footer
        .content.well{"ng-if" => "debug"}
          %pre
            {{product_outgo | json}}
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
        %button.btn.btn-primary{"ng-click" => "product_outgos(product_outgo)", :type => "button", "ng-disabled" => "!product_outgo.product_id || !product_outgo.count"} Сохранить