%h1{:style => "text-align:center;margin-top:90px;"}
  %span{:style => "font-size:53px;text-shadow:2px 2px 3px #ccc;font-style:Tahoma;"} Ошибка! Ваша заявка не принята ! Контракт не найден, либо устарел!