.container
  .row
    .col-md-4.col-md-offset-4
      %form{:style => "width: 300px;", method: 'post'}
        %fieldset

          %select{name: "cid"}
            = @contracts.each do |contract|
              %option{value: contract.id} #{contract.company.name} #{contract.offer.name if contract.offer}
        %fieldset
          %label{:for => "input-firstname"} Имя
          %input#input-firstname{:type => "text", name: 'first_name', value: 'Шурик'}
        %fieldset
          %label{:for => "input-lastname"} Фамилия
          %input#input-lastname{:type => "text", name: 'last_name', value: 'Путров'}
        %fieldset
          %label{:for => "input-phone"} Телефон
          %input#input-phone{:type => "text", name: 'phone', value: '77079800001'}
        %fieldset
          %label{:for => "input-email"} email
          %input#input-email{:type => "text", name: 'email', value: 'someone@gmail.com'}
        %br
        %input{:type => "submit", :value => "Отправить"}