%h1{:style => "text-align:center;margin-top:90px;"}
  %span{:style => "font-size:53px;text-shadow:2px 2px 3px #ccc;font-style:Tahoma;"} Ваша заявка принята !
  %br
    %span{:style => "font-size:33px;text-shadow:2px 2px 3px #ccc;font-style:Tahoma;"} Наши операторы с вами свяжутся в ближайшие минуты !