.header
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#navbar-user-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #navbar-user-collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "#"}
              %span.glyphicon.glyphicon-bell
              %span.badge 2
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              #{current_user.name if current_user}
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Счет
              %li
                %a{:href => "#"} Бонусы
              %li
                %a{:href => "#"} Параметры
              %li.divider
              %li
                %a{:href => destroy_user_session_path} Выйти
