#mainMenu.sidebar.container
  .list-group
    %a.list-group-item{"data-target" => "#menu-offers", "data-toggle" => "collapse", :href => "/webmaster/offers", 'ng-class' => "{active:isActive('/webmaster/offers')}"}
      %span.glyphicon.glyphicon-list
      Офферы
    %a.list-group-item{href: '/webmaster/contracts', 'ng-class' => "{active:isActive('/webmaster/contracts')}"}
      %span.glyphicon.glyphicon-briefcase
      Контракты
    %a.list-group-item{href: '/webmaster/getlink', 'ng-class' => "{active:isActive('/webmaster/getlink')}"}
      %span.glyphicon.glyphicon-link
      Получить ссылку
    %a.list-group-item{:href => "/webmaster/billing", 'ng-class' => "{active:isActive('/webmaster/billing')}"}
      %span.glyphicon.glyphicon-usd
      Биллинг
    %a.list-group-item{:href => "/webmaster/statistic", 'ng-class' => "{active:isActive('/webmaster/statistic')}"}
      %span.glyphicon.glyphicon-stats
      Статистика
    %a.list-group-item{"ng-hide" => "true", :href => "/webmaster/settings", 'ng-class' => "{active:isActive('/webmaster/settings')}"}
      %span.glyphicon.glyphicon-cog
      Параметры
    %a.list-group-item{:href => '/webmaster/notifications', 'ng-class' => "{active:isActive('/webmaster/notifications')}"}
      %span.glyphicon.glyphicon-bell
      Уведомления