.container
  .row
    .col-xs-12
      %form{role: 'form', 'accept-charset' => 'UTF-8', action: '/access/sign_in', method: 'post'}
        = hidden_field_tag :authenticity_token, form_authenticity_token
        .form-group
          %label Введите Email
          %input#inputEmail.form-control{:autofocus => "", :placeholder => "Ваш Email", :required => "", type: 'email',name: 'user[email]'}/
        .form-group
          %label Введите пароль
          %input#inputPassword.form-control{:placeholder => "Ваш пароль", :required => "", type: 'password' ,name: 'user[password]'}/
        .checkbox
          %label
            %input{:type => "checkbox", :value => "remember-me"}/
            Запомнить меня
        .form-group
          %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Войти
        %p.text-center
          или
          %a{href: new_user_registration_path} Зарегистрироваться
          или
          %a Восстановить пароль.