!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title CPA - Сотрудники
          / Bootstrap
          %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
            %link{:href => "../../assets/stylesheets/advert/advert.css", :rel => "stylesheet"}
              %link{:href => "../../assets/stylesheets/global.css", :rel => "stylesheet"}
                / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
                / WARNING: Respond.js doesn't work if you view the page via file://
                /[if lt IE 9]
                  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    / alert
    .alert.alert-danger.alert-dismissible.alert-pop-out.col-xs-12.col-sm-5.col-sm-push-7.col-md-4.col-md-push-8.fade.in{:role => "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h4 Ошибка
      %p Вы ввели неверные данные
    .container-fluid
      / Навигационная панель
      .row
        .header
          %nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
              .navbar-header
                %button.navbar-toggle.collapsed{"data-target" => "#navbar-user-collapse", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                .navbar-shop-select.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "", :role => "button"}
                    Название компании
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => ""}
                        Компания 1
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li
                      %a{:href => ""}
                        Компания 2
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li
                      %a{:href => ""}
                        Компания 3
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li.divider
                    %li
                      %a{"data-target" => "#company-add-modal", "data-toggle" => "modal", :href => ""} Добавить компанию
              / Модальное окно добавления компании
              #company-add-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "company-add-modal-label", :role => "dialog", :tabindex => "-1"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} &times;
                      %h4#company-add-modal-label.modal-title Добавить компанию
                    .modal-body
                      %form
                        .content
                          .row
                            .form-group.col-xs-12
                              %label{:for => "company-add-modal-name-input"} Название
                              %input#company-add-modal-name-input.form-control{:placeholder => "Название", :type => "text"}
                            .form-group.col-xs-12
                              %label{:for => "company-add-modal-name-input"} Описание
                              %textarea#company-add-modal-name-input.form-control{:placeholder => "Описание", :rows => "4"}
                    .modal-footer
                      %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
                      %button.btn.btn-primary{:type => "button"} Сохранить
              / Модальное окно добавления компании
              #navbar-user-collapse.collapse.navbar-collapse
                %ul.nav.navbar-nav.navbar-right
                  %li
                    %a{:href => ""}
                      %span.glyphicon.glyphicon-bell
                      %span.badge 2
                  %li.dropdown
                    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "", :role => "button"}
                      Имя Пользователя
                      %span.caret
                    %ul.dropdown-menu{:role => "menu"}
                      %li
                        %a{:href => ""} Счет
                      %li
                        %a{:href => ""} Бонусы
                      %li
                        %a{:href => ""} Параметры
                      %li.divider
                      %li
                        %a{:href => ""}
                          Выйти
                          %span.glyphicon.glyphicon-off       / Навигационная панель
      .row
        #mainMenu.col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-list
                Офферы
          %ul.nav.nav-sidebar
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-shopping-cart
                Товары
            %li.active
              %a{:href => ""}
                %span.glyphicon.glyphicon-user
                Сотрудники
                %span.sr-only (текущая)
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-usd
                Деньги
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-comment
                Сообщения
              %span.badge 1
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-stats
                Статистика
          %ul.nav.nav-sidebar
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-cog
                Параметры
        .col-sm-9.col-sm-push-3.col-md-10.col-md-push-2.main
          %h1.page-header Сотрудники
          .row
            .col-md-3.col-md-push-9.col-sm-6.col-sm-push-6.col-xs-7.col-xs-push-5
              .form-group
                %label.sr-only{:for => "search"} Поиск
                %input.form-control{:autofocus => "", :name => "search", :placeholder => "Поиск", :type => "search"}
            .col-sm-6.col-sm-pull-6.col-md-pull-3.col-xs-5.col-xs-pull-7
              %button.btn.btn-primary{"data-target" => "#employees-add-modal", "data-toggle" => "modal"}
                %span.glyphicon.glyphicon-plus                 Добавить
          %br
            / Modal
            #employees-add-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "employees-add-modal-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} &times;
                    %h4#employees-add-modal-label.modal-title Добавить сотрудника
                  .modal-body
                    %form
                      .content
                        .row
                          .form-group.col-xs-12
                            %label{:for => "offers-add-modal-company-input"} email
                            %input#offers-add-modal-company-input.form-control{:placeholder => "email", :type => "email"}
                          .form-group.col-xs-12
                            %label Роли
                            .checkbox
                              %label
                                %input{:checked => "", :type => "checkbox", :value => "1"}
                                  Админ
                            .checkbox
                              %label
                                %input{:type => "checkbox", :value => "2"}
                                  Кладовщик
                            .checkbox
                              %label
                                %input{:type => "checkbox", :value => "2"}
                                  Роль
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
                    %button.btn.btn-primary{:type => "button"} Сохранить
            .row
              .col-md-12
                .responsive-table
                  %table.table.orders-table.table-hover
                    %thead
                      %tr
                        %th
                          .btn-group
                            %button.btn.btn-default.clearfix{:type => "button"} Роль
                            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                              %span.caret
                              %span.sr-only Toggle Dropdown
                            %ul.dropdown-menu{:role => "menu"}
                              %li
                                %a{:href => ""} Action
                              %li
                                %a{:href => ""} Another action
                              %li
                                %a{:href => ""} Something else here
                              %li.divider
                              %li
                                %a{:href => ""} Separated link
                        %th
                          .btn-group
                            %button.btn.btn-default{:type => "button"} Фамилия
                            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                              %span.caret
                              %span.sr-only Toggle Dropdown
                            %ul.dropdown-menu{:role => "menu"}
                              %li
                                %a{:href => ""} Action
                              %li
                                %a{:href => ""} Another action
                              %li
                                %a{:href => ""} Something else here
                              %li.divider
                              %li
                                %a{:href => ""} Separated link
                        %th
                          .btn-group
                            %button.btn.btn-default{:type => "button"} Имя
                            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                              %span.caret
                              %span.sr-only Toggle Dropdown
                            %ul.dropdown-menu{:role => "menu"}
                              %li
                                %a{:href => ""} Action
                              %li
                                %a{:href => ""} Another action
                              %li
                                %a{:href => ""} Something else here
                              %li.divider
                              %li
                                %a{:href => ""} Separated link
                        %th
                          .btn-group
                            %button.btn.btn-default{:type => "button"} email
                            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                              %span.caret
                              %span.sr-only Toggle Dropdown
                            %ul.dropdown-menu{:role => "menu"}
                              %li
                                %a{:href => ""} Action
                              %li
                                %a{:href => ""} Another action
                              %li
                                %a{:href => ""} Something else here
                              %li.divider
                              %li
                                %a{:href => ""} Separated link
                        %th
                        %th
                    %tbody
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td
                          %button.offers-list-offer-status.btn.btn-success.btn-xs{:type => "button"} Кладовщик
                        %td Бесбаев
                        %td Болат
                        %td bol.bes@mail.ru
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                        %td
                          %a.lock.off{"data-content" => "Запретить сотруднику работать в компании", "data-placement" => "left", "data-toggle" => "popover", "data-trigger" => "hover", :href => "", :title => "Заблокировать сотрудника"}
                            %span.glyphicon.glyphicon-lock
            / Модальное окно редактирование инфо о сотруднике
            #employees-list-employee-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "employees-list-employee-modal-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} &times;
                    %h4#employees-list-employee-modal-label.modal-title Редактировать информацию о сотруднике
                  .modal-body
                    %form
                      .content
                        .row
                          .form-group.col-xs-6
                            %label{:for => "employees-list-employee-modal-firstname-input"} Имя
                            %input#employees-list-employee-modal-firstnam-input.form-control{:disabled => "", :placeholder => "Имя", :type => "text", :value => "Болат"}
                          .form-group.col-xs-6
                            %label{:for => "employees-list-employee-modal-lastname-input"} Фамилия
                            %input#employees-list-employee-modal-lastname-input.form-control{:disabled => "", :placeholder => "Фамилия", :type => "text", :value => "Бесбаев"}
                          .form-group.col-xs-6
                            %label{:for => "employees-list-employee-modal-description-input"} Пароль
                            %input#employees-list-employee-modal-description-input.form-control{:placeholder => "Пароль", :type => "password", :value => "12345678"}
                          .form-group.col-xs-6
                            %label{:for => "employees-list-employee-modal-company-input"} email
                            %input#employees-list-employee-modal-company-input.form-control{:placeholder => "email", :type => "email", :value => "bol.bes@mail.ru"}
                          .form-group.col-xs-12
                            %label Роли
                            .checkbox
                              %label
                                %input{:checked => "", :type => "checkbox", :value => "1"}
                                  Админ
                            .checkbox
                              %label
                                %input{:checked => "", :type => "checkbox", :value => "2"}
                                  Кладовщик
                            .checkbox
                              %label
                                %input{:type => "checkbox", :value => "2"}
                                  Роль
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
                    %button.btn.btn-primary{:type => "button"} Сохранить
            / Модальное окно редактирование инфо о сотруднике
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}
    :javascript
      $(function () {
        $('[data-toggle="popover"]').popover({
          delay: { "show": 500, "hide": 100 }
        })
      })
        :javascript
      $('a.lock').click(function() {
        $(this).toggleClass('off')
      });