.col-xs-10.col-xs-push-2.col-md-11.col-md-push-1.main
  .row
  .col-xs-12
    %h1.page-header Получение ссылки
  .row
  .col-xs-12.col-sm-6.col-md-4.slim
    .form-group.col-xs-6
      %lable.control-label{:for => "old-price"} Старая цена
      %input#old-price.form-control{:type => "number", :value => "3000"}
    .form-group.col-xs-6
      %lable.control-label{:for => "new-price"} Новая цена
      %input#new-price.form-control{:type => "number", :value => "3000"}
    .form-group.col-xs-12
      %lable.control-label{:for => "domain"} Домен
      %input#domain.form-control{:type => "url", :value => "url.com - 3000 тенге"}
    .form-group.col-xs-12
      %img.img-responsive{:alt => "Не удалось загрузить изображение", :src => "http://images.visitcanberra.com.au/images/canberra_hero_image.jpg"}
        .checkbox
          %label
            %input{:type => "checkbox"}
              Передавать домен в URL к прокладке
        .checkbox
          %label
            %input{:type => "checkbox"}
              Альтернативные имена меток
    .col-xs-12
      %h4 Метки
    .form-group.col-xs-6
      %lable.control-label{:for => "utm_source"} UTM_source
      %input#utm_source.form-control{:type => "text"}
    .form-group.col-xs-6
      %lable.control-label{:for => "utm_medium"} UTM_medium
      %input#utm_medium.form-control{:type => "text"}
    .form-group.col-xs-4
      %lable.control-label{:for => "utm_campaign"} UTM_campaign
      %input#utm_campaign.form-control{:type => "text"}
    .form-group.col-xs-4
      %lable.control-label{:for => "utm_term"} UTM_term
      %input#utm_term.form-control{:type => "text"}
    .form-group.col-xs-4
      %lable.control-label{:for => "utm_content"} UTM_content
      %input#utm_content.form-control{:type => "text"}
    .form-group.col-xs-12.text-center
      %button.btn.btn-primary Получить ссылку
  .col-xs-12.col-sm-6.col-md-8
    .row
      %h4 Главная страница
      %p Ваша партнерская ссылка:
      %pre http://landing.com/index
    .row
      %h4 Транзитные страницы
      .form-group
        %button.btn.btn-xs.btn-default Первая
        %button.btn.btn-xs.btn-default Вторая
      %p Ваша партнерская ссылка:
      %pre http://landing.com/index
      %img.img-responsive{:alt => "Не удалось загрузить изображение", :src => "http://images.visitcanberra.com.au/images/canberra_hero_image.jpg"}