!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title CPA - Товары
          / Bootstrap
          %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
            %link{:href => "css/theme.css", :rel => "stylesheet"}
              / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
              / WARNING: Respond.js doesn't work if you view the page via file://
              /[if lt IE 9]
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .container-fluid
      .row
        #mainMenu.col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-list
                Офферы
          %ul.nav.nav-sidebar
            %li.active
              %a{:href => "#"}
                %span.glyphicon.glyphicon-shopping-cart
                Товары
                %span.sr-only (текущая)
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-usd
                Деньги
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-comment
                Сообщения
              %span.badge 1
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-stats
                Статистика
          %ul.nav.nav-sidebar
            %li
              %a{:href => "#"}
                %span.glyphicon.glyphicon-cog
                Параметры


    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}