!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title CPA - Заказы
          / Bootstrap
          %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
            %link{:href => "../../assets/stylesheets/global.css", :rel => "stylesheet"}
              %link{:href => "../../assets/stylesheets/advert.css", :rel => "stylesheet"}
                / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
                / WARNING: Respond.js doesn't work if you view the page via file://
                /[if lt IE 9]
                  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .container-fluid
      / sidebar
      #mainMenu.sidebar
        .sidebar-header
          %a.company{"aria-controls" => "collapseListGroup1", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseListGroup1"}
            ТОО "ZeroDay"
            %span.glyphicon.glyphicon-chevron-down
          #collapseListGroup1.list-group.collapse{"aria-expanded" => "false", "aria-labelledby" => "collapseListGroupHeading1", :role => "tabpanel"}
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-pencil>
              Казахтелеком
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-pencil>
              Google
            %a.list-group-item.add-company{:href => ""}
              %span.glyphicon.glyphicon-plus>
              Добавить
        .list-group
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-list>
            Офферы
            %span.sr-only (текущая)
          %a.list-group-item.active{:href => ""}
            %span.glyphicon.glyphicon-shopping-cart>
            Товары
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-user>
            Сотрудники
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-usd>
            Биллинг
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-comment>
            Сообщения
            %span.badge 1
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-stats>
            Статистика
        .list-group
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-cog
            Параметры
      / sidebar
      / content
      .toolbar
        .account.tab
          .avatar
          .info
            %p Гильванов Марат
            %small mg71645@gmail.com
        .tab
          %span.glyphicon.glyphicon-bell
          %span.badge 2
        .tab
          %span.glyphicon.glyphicon-comment
          %span.badge 1
      .header
        .col-xs-12.col-sm-6.col-md-9
          %h1 Сообщения
        .col-xs-12.col-sm-6.col-md-3
          %input.form-control{:autofocus => "", :placeholder => "Поиск", :type => "search"}
      .main.container
        .chat
          / dialog
          .dialog
            .line
              .message
                %textarea{:rows => "1"} Начните набирать сообщение
            .line
              .message.message-right{:time => "12:53"} 5 штук
            .line
              .message.message-right{:time => "12:53"} как договаривались
            .line
              .message.message-right{:time => "12:53"} опана
            .line
              .message.message-left{:time => "12:53"} пацаны по работе поехали
            .line
              .message.message-left{:time => "12:53"} ок
            .line
              .message.message-right{:time => "12:53"} я буду через час
            .line
              .message.message-left{:time => "12:53"} я дома
            .line
              .message.message-right{:time => "12:53"} кто дома есть?
            %legend Вчера
            .line
              .message.message-right{:time => "12:53"} o_0
            .line
              .message.message-right{:time => "12:53"} президент фонда Google Ventures готов выделить 425 миллионов долларов на исследования, которые позволят замедлить старение и продлить человеку жизнь.
          / dialog
          / contacts
          .contacts
            .contact
              .info
                %p
                  Мухамадиев Саят
                  %button.icon-more
                  %button
                %small Текст последнего сообщения овдыа одыл вао довыдла одлывоа длодылв df ао доы
            .list
              .contact
                .info
                  %p
                    Ауанасов Чингиз
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Уахитов Алмат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Кантаев Самат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Кравцов Алексей
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Ауанасов Ами
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Самтиков Ернар
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Зайкен Жанат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Даулетхан Адиль
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Телпекбаев Азамат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Аден Кристофер
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Аминов Султан
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Зейнуллин Маралбек
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Калиев Азамат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Сабыр Алмаз
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Калиев Жаксылык
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Шадат Азамат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Жиенбаев Султан
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Галым Азат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Рахымжанов Еркеш
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Бурмаганов Биржан
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Сексенбаев Ербол
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Рахмет Абай
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Алимов Марат
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Мухамеджанов Жаксылык
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Ахметов Аязбек
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Базарбеков Талгатбек
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Ибраев Тимур
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
              .contact
                .info
                  %p
                    Жунусов Ерсаин
                    %button.icon-more
                    %button
                  %small Текст последнего сообщения
          / contacts
      / content
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "../../assets/javascripts/jquery.mousewheel.min.js"}
    %script{:src => "../../assets/javascripts/mg.js"}