!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title CPA - Заказы
          / Bootstrap
          %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
            %link{:href => "../../assets/stylesheets/global.css", :rel => "stylesheet"}
              %link{:href => "../../assets/stylesheets/advert.css", :rel => "stylesheet"}
                / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
                / WARNING: Respond.js doesn't work if you view the page via file://
                /[if lt IE 9]
                  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .container-fluid
      / Навигационная панель
      .header
        %nav.navbar.navbar-inverse.navbar-fixed-top
          .container-fluid
            .navbar-header
              %button.navbar-toggle.collapsed{"data-target" => "#navbar-user-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              .navbar-shop-select.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "", :role => "button"}
                  Название компании
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => ""}
                      Компания 1
                      %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                  %li
                    %a{:href => ""}
                      Компания 2
                      %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                  %li
                    %a{:href => ""}
                      Компания 3
                      %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                  %li.divider
                  %li
                    %a{"data-target" => "#company-add-modal", "data-toggle" => "modal", :href => ""} Добавить компанию
            / Модальное окно добавления компании
            #company-add-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "company-add-modal-label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} &times;
                    %h4#company-add-modal-label.modal-title Добавить компанию
                  .modal-body
                    %form
                      .content
                        .row
                          .form-group.col-xs-12
                            %label{:for => "company-add-modal-name-input"} Название
                            %input#company-add-modal-name-input.form-control{:placeholder => "Название", :type => "text"}
                          .form-group.col-xs-12
                            %label{:for => "company-add-modal-name-input"} Описание
                            %textarea#company-add-modal-name-input.form-control{:placeholder => "Описание", :rows => "4"}
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
                    %button.btn.btn-primary{:type => "button"} Сохранить
            / Модальное окно добавления компании
            #navbar-user-collapse.collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a{:href => ""}
                    %span.glyphicon.glyphicon-bell
                    %span.badge 2
                %li.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "", :role => "button"}
                    Имя Пользователя
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => ""} Счет
                    %li
                      %a{:href => ""} Бонусы
                    %li
                      %a{:href => ""} Параметры
                    %li.divider
                    %li
                      %a{:href => ""}
                        Выйти
                        %span.glyphicon.glyphicon-off       / Навигационная панель
      / sidebar
      #mainMenu.sidebar
        .sidebar-header
          .account
            %a.account-name{:href => ""}
              %span.glyphicon.glyphicon-off>
              Гильванов Марат
            %a.indicator{:href => ""}
              %span.glyphicon.glyphicon-usd>
              1 000 000 000
            %a.indicator{:href => ""}
              %span.glyphicon.glyphicon-bell>
              12
          %a.company{"aria-controls" => "collapseListGroup1", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseListGroup1"}
            ТОО "ZeroDay"
            %span.glyphicon.glyphicon-chevron-down
          #collapseListGroup1.list-group.collapse{"aria-expanded" => "false", "aria-labelledby" => "collapseListGroupHeading1", :role => "tabpanel"}
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-pencil>
              Казахтелеком
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-pencil>
              Google
            %a.list-group-item.add-company{:href => ""}
              %span.glyphicon.glyphicon-plus>
              Добавить
        .list-group
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-list>
            Офферы
            %span.sr-only (текущая)
          %a.list-group-item.active{:href => ""}
            %span.glyphicon.glyphicon-shopping-cart>
            Товары
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-user>
            Сотрудники
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-usd>
            Биллинг
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-comment>
            Сообщения
            %span.badge 1
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-stats>
            Статистика
        .list-group
          %a.list-group-item{:href => ""}
            %span.glyphicon.glyphicon-cog
            Параметры
      / sidebar
      / content
      .main.container
        .row
          .col-xs-12.col-sm-6
            %h1 Заказы
          .col-xs-12.col-sm-6.col-md-4.col-md-push-2
            %label.sr-only{:for => "search"} Поиск
            %input.form-control{:autofocus => "", :name => "search", :placeholder => "Поиск", :type => "search"}
        / filters
        .row.filters.padding-bottom
          .col-xs-12
            %legend Фильтрация по дате
            %form.form-inline
              .form-group
                %label{:for => "orders-filter-date"} дата
                %select#order-filter-date.form-control
                  %option создания заказа
                  %option изменения доп. инфо
                  %option изменения комментария
                  %option доставки курьером
                  %option присвоения статуса новый
              .form-group
                %label{:for => "orders-filter-from"} с
                %input#orders-filter-from.form-control.selected{:type => "text", :value => "25 февраля 2015   19:23"}
              .form-group
                %label{:for => "orders-filter-until"} до
                %input#orders-filter-until.form-control{:type => "text"}
            %legend Фильтрация по статусу
            %label товар
            %form.form-inline
              .form-group
                %select.form-control.selected
                  %option сейчас в статусе
                  %option{:selected => ""} имеет статус
                  %option не имеет статус
                %select.form-control.selected
                  %option любой
                  %option{:selected => ""} новый
                  %option отменен
            %form.form-inline
              .form-group
                %select.form-control
                  %option сейчас в статусе
                  %option имеет статус
                  %option не имеет статус
                %select.form-control
                  %option любой
                  %option новый
                  %option отменен
                %button.close{"aria-label" => "Close", :type => "button"}
                  %span{"aria-hidden" => "true"} &times;
            %form.form-inline
              .form-group
                %label
                  %button.button-plus +
                  добавить фильтр по статусу
            %label посылка
            %form.form-inline
              .form-group
                %select.form-control
                  %option сейчас в статусе
                  %option имеет статус
                  %option не имеет статус
                %select.form-control
                  %option любой
                  %option новый
                  %option отменен
            %legend Фильтрация по типу доставки
            %label тип доставки
            %form.form-inline
              .form-group
                %select.form-control.selected
                  %option любой
                  %option не задан
                  %option{:selected => ""} курьером
                %select.form-control.selected
                  %option Астана
                  %option Алматы
                  %option{:selected => ""} Караганда
        / filters
        / table
        .row
          .responsive-table
            %table.table.orders-table.table-hover
              %thead
                %tr
                  %th ID
                  %th Статус
                  %th Дата заказа
                  %th Наименование товара
                  %th Кол-во
                  %th Сумма
                  %th Тип доставки
                  %th Магазин
              %tbody
                %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                  %td 2517
                  %td
                    %button.offers-list-offer-status.btn.btn-success.btn-xs{:type => "button"} Оплачено
                  %td 19 января 2015
                  %td Гель для роста волос
                  %td 13
                  %td 26000
                  %td Казпочта
                  %td Дмитрий
                %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                  %td 2517
                  %td
                    %button.offers-list-offer-status.btn.btn-success.btn-xs{:type => "button"} Оплачено
                  %td 19 января 2015
                  %td Гель для роста волос
                  %td 13
                  %td 26000
                  %td Казпочта
                  %td Дмитрий
                %tr.selected{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                  %td 2517
                  %td
                    %button.offers-list-offer-status.btn.btn-success.btn-xs{:type => "button"} Оплачено
                  %td 19 января 2015
                  %td Гель для роста волос
                  %td 13
                  %td 26000
                  %td Казпочта
                  %td Дмитрий
                / snippet
                %tr.order-info
                  %td{:colspan => "100"}
                    .row.padding-bottom
                      .col-xs-12.slim
                        %legend Информация о заказе
                        .form-group.col-xs-5.col-sm-4.col-md-3
                          %label{:for => "order-id"} ID
                          %input#order-id.form-control{:type => "text", :value => "2517"}
                        .form-group.col-xs-5.col-sm-4.col-md-3
                          %label{:for => "order-status"} Статус
                          %select#order-status.form-control{:value => "Оплачено"}
                            %option Оплачено
                            %option Не оплачено
                        .form-group.col-xs-12
                          %table.mg-table
                            %tr
                              %th Наименование товара
                              %th Количество
                              %th Цена
                            %tr
                              %td
                                %select.form-control{:value => "3D чайник"}
                                  %option 3D Чайник
                                  %option Керамический нож
                              %td
                                %input.form-control{:min => "0", :type => "number", :value => "54"}
                              %td
                                %input.form-control{:min => "0", :step => "100", :type => "number", :value => "9000"}
                            %tr
                              %td
                                %select.form-control{:value => "3D чайник"}
                                  %option 3D Чайник
                                  %option Керамический нож
                              %td
                                %input.form-control{:min => "0", :type => "number", :value => "54"}
                              %td
                                %input.form-control{:min => "0", :step => "100", :type => "number", :value => "9000"}
                              %td.table-control
                                %button.close{"aria-label" => "Close", :type => "button"}
                                  %span{"aria-hidden" => "true"} &times;
                          %label
                            %button.button-plus +
                            Добавить товар
                      .col-xs-12.col-md-6.slim
                        %legend Информация о покупателе
                        .form-group.col-xs-12
                          %label{:for => "customer-name"} Ф.И.О.
                          %input#customer-name.form-control{:type => "text", :value => "Фамилия Имя Очество"}
                        .form-group.col-xs-6
                          %label{:for => "customer-phone"} Телефон
                          %input#customer-phone.form-control{:type => "tel", :value => "+7(777)777-77-77"}
                        .form-group.col-xs-6
                          %label{:for => "customer-email"} Email
                          %input#customer-email.form-control{:type => "email", :value => "inbox@email.com"}
                        .form-group.col-xs-6
                          %label{:for => "customer-country"} Страна
                          %input#customer-country.form-control{:type => "text", :value => "Казахстан"}
                        .form-group.col-xs-6
                          %label{:for => "customer-zipcode"} Индекс
                          %input#customer-zipcode.form-control{:type => "text", :value => "010000"}
                        .form-group.col-xs-6
                          %label{:for => "customer-province"} Район
                          %input#customer-province.form-control{:type => "text", :value => "Акмолинская область"}
                        .form-group.col-xs-6
                          %label{:for => "customer-city"} Город
                          %input#customer-city.form-control{:type => "text", :value => "Астана"}
                        .form-group.col-xs-12
                          %label{:for => "customer-adress"} Адрес
                          %input#customer-adress.form-control{:type => "text", :value => "ул. Космонавтов, 12"}
                      .col-xs-12.col-md-6.slim
                        %legend Информация о доставке
                        .form-group.col-xs-6
                          %label{:for => "shipping-method"} Способ доставки
                          %select#shipping-method.form-control{:value => "Курьером"}
                            %option Курьером
                            %option Самовывоз
                        .form-group.col-xs-6
                          %label{:for => "shipping-company"} Курьерская служба
                          %select#shipping-phone.form-control{:value => "DHL"}
                            %option DHL
                            %option FedEx
                        .form-group.col-xs-6
                          %label{:for => "shipping-status"} Статус посылки
                          %select#shipping-email.form-control{:value => "В пути"}
                            %option В пути
                            %option Доставлено
                        .form-group.col-xs-6
                          %label{:for => "shipping-code"} Штрих код
                          %input#shipping-country.form-control{:type => "text", :value => "9492416546816"}
                / snippet
                %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                  %td 2517
                  %td
                    %button.offers-list-offer-status.btn.btn-success.btn-xs{:type => "button"} Оплачено
                  %td 19 января 2015
                  %td Гель для роста волос
                  %td 13
                  %td 26000
                  %td Казпочта
                  %td Дмитрий
                %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                  %td 2517
                  %td
                    %button.offers-list-offer-status.btn.btn-success.btn-xs{:type => "button"} Оплачено
                  %td 19 января 2015
                  %td Гель для роста волос
                  %td 13
                  %td 26000
                  %td Казпочта
                  %td Дмитрий
                %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                  %td 2517
                  %td
                    %button.offers-list-offer-status.btn.btn-success.btn-xs{:type => "button"} Оплачено
                  %td 19 января 2015
                  %td Гель для роста волос
                  %td 13
                  %td 26000
                  %td Казпочта
                  %td Дмитрий
                %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                  %td 2517
                  %td
                    %button.offers-list-offer-status.btn.btn-success.btn-xs{:type => "button"} Оплачено
                  %td 19 января 2015
                  %td Гель для роста волос
                  %td 13
                  %td 26000
                  %td Казпочта
                  %td Дмитрий
                %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                  %td 2517
                  %td
                    %button.offers-list-offer-status.btn.btn-success.btn-xs{:type => "button"} Оплачено
                  %td 19 января 2015
                  %td Гель для роста волос
                  %td 13
                  %td 26000
                  %td Казпочта
                  %td Дмитрий
                %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                  %td 2517
                  %td
                    %button.offers-list-offer-status.btn.btn-success.btn-xs{:type => "button"} Оплачено
                  %td 19 января 2015
                  %td Гель для роста волос
                  %td 13
                  %td 26000
                  %td Казпочта
                  %td Дмитрий
                %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                  %td 2517
                  %td
                    %button.offers-list-offer-status.btn.btn-success.btn-xs{:type => "button"} Оплачено
                  %td 19 января 2015
                  %td Гель для роста волос
                  %td 13
                  %td 26000
                  %td Казпочта
                  %td Дмитрий
        / table
        / Modal
        #orders-info-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "orders-info-modal-label", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-label" => "Отмена", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} &times;
                %h4#offers-add-modal-label.modal-title
                  Заказ #3864561 из магазина
                  %a{:href => "http://url.com"} url.com
              .modal-body
                %form.form
                  #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
                    .panel.panel-default
                      #headingOne.panel-heading{:role => "tab"}
                        %h4.panel-title
                          %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                            Информация о товаре
                      #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                        .panel-body
                          .form-group.col-xs-6
                            %label{:for => "order-id"} ID
                            %input#order-id.form-control{:type => "text", :value => "2517"}
                          .form-group.col-xs-6
                            %label{:for => "order-status"} Статус
                            %select#order-status.form-control{:value => "Оплачено"}
                              %option Оплачено
                              %option Не оплачено
                          .form-group.col-xs-12
                            %label{:for => "order-name"} Продукт
                            %select#order-name.form-control{:value => "3D чайник"}
                              %option 3D Чайник
                              %option Керамический нож
                          .form-group.col-xs-6
                            %label{:for => "order-amount"} Количество
                            %input#order-amount.form-control{:min => "0", :type => "number", :value => "54"}
                          .form-group.col-xs-6
                            %label{:for => "order-price"} Цена
                            .input-group
                              .input-group-addon тг
                              %input#order-price.form-control{:min => "0", :step => "100", :type => "number", :value => "9000"}
                                .input-group-addon .00
                          .form-group.col-xs-12
                            %label{:for => "order-extra"} Доп продажи
                            %input#order-extra.form-control{:type => "text", :value => "Нет"}
                    .panel.panel-default
                      #headingTwo.panel-heading{:role => "tab"}
                        %h4.panel-title
                          %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                            Информация о покупателе
                      #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
                        .panel-body
                          .form-group.col-xs-12
                            %label{:for => "customer-name"} Ф.И.О.
                            %input#customer-name.form-control{:type => "text", :value => "Фамилия Имя Очество"}
                          .form-group.col-xs-6
                            %label{:for => "customer-phone"} Телефон
                            %input#customer-phone.form-control{:type => "tel", :value => "+7(777)777-77-77"}
                          .form-group.col-xs-6
                            %label{:for => "customer-email"} Email
                            %input#customer-email.form-control{:type => "email", :value => "inbox@email.com"}
                          .form-group.col-xs-6
                            %label{:for => "customer-country"} Страна
                            %input#customer-country.form-control{:type => "text", :value => "Казахстан"}
                          .form-group.col-xs-6
                            %label{:for => "customer-zipcode"} Индекс
                            %input#customer-zipcode.form-control{:type => "text", :value => "010000"}
                          .form-group.col-xs-6
                            %label{:for => "customer-province"} Район
                            %input#customer-province.form-control{:type => "text", :value => "Акмолинская область"}
                          .form-group.col-xs-6
                            %label{:for => "customer-city"} Город
                            %input#customer-city.form-control{:type => "text", :value => "Астана"}
                          .form-group.col-xs-12
                            %label{:for => "customer-adress"} Адрес
                            %input#customer-adress.form-control{:type => "text", :value => "ул. Космонавтов, 12"}
                    .panel.panel-default
                      #headingThree.panel-heading{:role => "tab"}
                        %h4.panel-title
                          %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                            Информация о доставке
                      #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
                        .panel-body
                          .form-group.col-xs-6
                            %label{:for => "shipping-method"} Способ доставки
                            %select#shipping-method.form-control{:value => "Курьером"}
                              %option Курьером
                              %option Самовывоз
                          .form-group.col-xs-6
                            %label{:for => "shipping-company"} Курьерская служба
                            %select#shipping-phone.form-control{:value => "DHL"}
                              %option DHL
                              %option FedEx
                          .form-group.col-xs-6
                            %label{:for => "shipping-status"} Статус посылки
                            %select#shipping-email.form-control{:value => "В пути"}
                              %option В пути
                              %option Доставлено
                          .form-group.col-xs-6
                            %label{:for => "shipping-code"} Штрих код
                            %input#shipping-country.form-control{:type => "text", :value => "9492416546816"}
                  .well
                    %label{:for => "order-comment"} Комментарий
                    %textarea#order-comment.form-control{:type => "text"} Доставьте быстрее уже
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
                %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Сохранить
        / Modal
      / content
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}