!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title CPA - Квитанция
          / Bootstrap
          %link{:href => "../../assets/stylesheets/receipt.css", :rel => "stylesheet"}
            / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
            / WARNING: Respond.js doesn't work if you view the page via file://
            /[if lt IE 9]
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    %table
      %tr
        %td
          %img{:src => "http://www.kase.kz/files/emitters/_logotypes/post_.gif", :width => "100"}/
        %td.center{:colspan => "2"} КВИТАНЦИЯ №
        %td.no-border{:rowspan => "21"}
          ИП «Кумаров Д.Б.»
          Ул. Ауэзова д.13 А/Я No20
          г. Астана


          Ценность: 6650 тенге

          Наложенный платеж: 6650 тенге








          Имя: Масабаев Саламат Бейсембаевич
          Телефон: 77775000687
          Адрес: ул.Панфилова.дом17
          Индекс: 060000
      %tr
        %td
        %td.center{:colspan => "2"} на оплату наличными
      %tr
        %td
        %td{:colspan => "2"} Плательщик (ФИО) Масабаев Саламат Бейсембаевич
      %tr
        %td
          %small Код платежа
        %td{:colspan => "2"}
          %small (фамилия и инициалы)
      %tr
        %td.right
          %small 4718
        %td{:colspan => "2"}
          %small ИИНПлательщикаКод
      %tr
        %td
          %small Номер посылки
        %td{:colspan => "2"}
      %tr
        %td —
        %td{:colspan => "2"}
          %small Адрес и телефон Плательщика:
      %tr
        %td
        %td{:colspan => "2"} 060000 ул.Панфилова.дом17 77775000687
      %tr
        %td
        %td{:colspan => "2"}
          %small Получатель платежа
          ИП «Кумаров Д.Б.»
      %tr
        %td
        %td{:colspan => "2"}
          %small (КНП)                              (организация)                             БИН/ИНН                             КБЕ                КНП
      %tr
        %td
        %td{:colspan => "2"}
          %b 83102130028819                                 19
      %tr
        %td
        %td{:colspan => "2"}
          %small ИИК
          KZ938210439812122626
      %tr
        %td
          %small Кассир:
        %td{:colspan => "2"}
          %small Банк
          АО «Bank RBK»
      %tr
        %td
        %td{:colspan => "2"}
          %small БИК
          KINCKZKA
      %tr
        %td
        %td.center{:width => "420"}
          %small Наименование платежа
        %td.center{:width => "100"}
          %small Сумма
      %tr
        %td
        %td
          %small Номер посылки:
        %td
      %tr
        %td
        %td
        %td
      %tr
        %td
        %td
        %td
      %tr
        %td
        %td
          %small ВСЕГО (сумма цифрами):
        %td.center
          %b 6650
      %tr
        %td
        %td{:colspan => "2"}
          %small ВСЕГО (прописью): шесть тысяч шестьсот пятьдесят тенге 00 тыин
      %tr
        %td
        %td{:colspan => "2"}
          %small Дата «____» ________________ 20_____г. Подпись Плательщика _______________
    %table
      %tr
        %td
          %img{:src => "http://www.kase.kz/files/emitters/_logotypes/post_.gif", :width => "100"}/
        %td.center{:colspan => "2"} КВИТАНЦИЯ №
        %td.no-border{:rowspan => "21"}
          Телефон.тех. поддержки:+77479300939
          Номер Заказа: 377
          cream_developpe-sex








          в кол-ве 1
          ЦОУ АСТАНА ПОЧТАМТ
          %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcReqFaYBtopZ_psSKdZrhNh0e0HjSTM9HTGYM-jiqvb1CuGne1Ysg", :width => "200"}
            RD011172737KZ
      %tr
        %td
        %td.center{:colspan => "2"} на оплату наличными
      %tr
        %td
        %td{:colspan => "2"} Плательщик (ФИО) Масабаев Саламат Бейсембаевич
      %tr
        %td
          %small Код платежа
        %td{:colspan => "2"}
          %small (фамилия и инициалы)
      %tr
        %td.right
          %small 4718
        %td{:colspan => "2"}
          %small ИИНПлательщикаКод
      %tr
        %td
          %small Номер посылки
        %td{:colspan => "2"}
      %tr
        %td —
        %td{:colspan => "2"}
          %small Адрес и телефон Плательщика:
      %tr
        %td
        %td{:colspan => "2"} 060000 ул.Панфилова.дом17 77775000687
      %tr
        %td
        %td{:colspan => "2"}
          %small Получатель платежа
          ИП «Кумаров Д.Б.»
      %tr
        %td
        %td{:colspan => "2"}
          %small (КНП)                              (организация)                             БИН/ИНН                             КБЕ                КНП
      %tr
        %td
        %td{:colspan => "2"}
          %b 83102130028819                                 19
      %tr
        %td
        %td{:colspan => "2"}
          %small ИИК
          KZ938210439812122626
      %tr
        %td
          %small Кассир:
        %td{:colspan => "2"}
          %small Банк
          АО «Bank RBK»
      %tr
        %td
        %td{:colspan => "2"}
          %small БИК
          KINCKZKA
      %tr
        %td
        %td.center{:width => "420"}
          %small Наименование платежа
        %td.center{:width => "100"}
          %small Сумма
      %tr
        %td
        %td
          %small Номер посылки:
        %td
      %tr
        %td
        %td
        %td
      %tr
        %td
        %td
        %td
      %tr
        %td
        %td
          %small ВСЕГО (сумма цифрами):
        %td.center
          %b 6650
      %tr
        %td
        %td{:colspan => "2"}
          %small ВСЕГО (прописью): шесть тысяч шестьсот пятьдесят тенге 00 тыин
    %p
      %small ЦОУ АСТАНА ПОЧТАМТ
    %img{:src => "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcReqFaYBtopZ_psSKdZrhNh0e0HjSTM9HTGYM-jiqvb1CuGne1Ysg", :width => "200"}
      / jQuery (necessary for Bootstrap's JavaScript plugins)
      %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
      / Include all compiled plugins (below), or include individual files as needed
      %script{:src => "js/bootstrap.min.js"}