!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title CPA - Регистрация
    / Bootstrap
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/sign.css", :rel => "stylesheet"}/
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .container
      .row
        .col-md-4.col-md-offset-4
          %form.form-signin
            %h2.form-signin-heading Регистрация
            %label.sr-only{:for => "inputEmail"} Введите Email
            %input#inputEmail.form-control{:autofocus => "", :placeholder => "Ваш Email", :required => "", :type => "email"}/
            %label.sr-only{:for => "inputPassword"} Введите пароль
            %input#inputPassword.form-control{:placeholder => "Ваш пароль", :required => "", :type => "password"}/
            .form-group.text-center
              %label.radio-inline
                %input#inlineRadio1{:name => "inlineRadioOptions", :type => "radio", :value => "1"}/
                Я advert
              %label.radio-inline
                %input#inlineRadio2{:name => "inlineRadioOptions", :type => "radio", :value => "2"}/
                Я webmaster
            .form-group
              %label.sr-only{:for => "inputSkype"} Введите Skype
              %input#inputSkype.form-control{:autofocus => "", :placeholder => "Ваш Skype", :required => "", :type => "text"}/
            .form-group
              %label.sr-only{:for => "inputICQ"} Введите ICQ
              %input#inputICQ.form-control{:autofocus => "", :placeholder => "Ваш ICQ", :required => "", :type => "text"}/
            /
              div class="checkbox">
              <label>
              <input type="checkbox" value="remember-me"> Запомнить меня
              </label>
              </div
            .form-group
              %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Зарегистрироваться
            %p.text-center
              или
              %a{:href => "#"} Войти
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}
