!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title CPA - Склады
          / Bootstrap
          %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
            %link{:href => "../../assets/stylesheets/advert/advert.css", :rel => "stylesheet"}
              %link{:href => "../../assets/stylesheets/global.css", :rel => "stylesheet"}
                / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
                / WARNING: Respond.js doesn't work if you view the page via file://
                /[if lt IE 9]
                  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .container-fluid
      / Навигационная панель
      .row
        .header
          %nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
              .navbar-header
                %button.navbar-toggle.collapsed{"data-target" => "#navbar-user-collapse", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                .navbar-shop-select.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "", :role => "button"}
                    Название компании
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => ""}
                        Компания 1
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li
                      %a{:href => ""}
                        Компания 2
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li
                      %a{:href => ""}
                        Компания 3
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li.divider
                    %li
                      %a{"data-target" => "#company-add-modal", "data-toggle" => "modal", :href => ""} Добавить компанию
              #navbar-user-collapse.collapse.navbar-collapse
                %ul.nav.navbar-nav.navbar-right
                  %li
                    %a{:href => ""}
                      %span.glyphicon.glyphicon-bell
                      %span.badge 2
                  %li.dropdown
                    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "", :role => "button"}
                      Имя Пользователя
                      %span.caret
                    %ul.dropdown-menu{:role => "menu"}
                      %li
                        %a{:href => ""} Счет
                      %li
                        %a{:href => ""} Бонусы
                      %li
                        %a{:href => ""} Параметры
                      %li.divider
                      %li
                        %a{:href => ""}
                          Выйти
                          %span.glyphicon.glyphicon-off       / Навигационная панель
      .row
        #mainMenu.col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-list
                Офферы
          %ul.nav.nav-sidebar
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-shopping-cart
                Товары
            %li.active
              %a{:href => ""}
                %span.glyphicon.glyphicon-user
                Сотрудники
                %span.sr-only (текущая)
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-usd
                Деньги
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-comment
                Сообщения
              %span.badge 1
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-stats
                Статистика
          %ul.nav.nav-sidebar
            %li
              %a{:href => ""}
                %span.glyphicon.glyphicon-cog
                Параметры
        .col-sm-9.col-sm-push-3.col-md-10.col-md-push-2.main
          %h1.page-header Склады
          .row
            .col-sm-6.col-xs-5
              %button.btn.btn-primary{"data-target" => "#add-new-warehouse", "data-toggle" => "modal"}
                %span.glyphicon.glyphicon-plus                 Добавить
          %br
            .row
              .col-md-12
                .responsive-table
                  %table.table.orders-table.table-hover
                    %thead
                      %tr
                        %th Название
                        %th Местонахождение
                        %th
                    %tbody
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil
                      %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                        %td Склад 1
                        %td Казахстан, Акмолинская область, Астана, Абая, 10
                        %td
                          %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                            %span.glyphicon.glyphicon-pencil

    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}
    :javascript
      $(function () {
        $('[data-toggle="popover"]').popover({
          delay: { "show": 500, "hide": 100 }
        })
      })
        :javascript
      $('a.lock').click(function() {
        $(this).toggleClass('off')
      });