!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title CPA - Склад
          / Bootstrap
          %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
            %link{:href => "../../assets/stylesheets/advert/advert.css", :rel => "stylesheet"}
              %link{:href => "../../assets/stylesheets/global.css", :rel => "stylesheet"}
                / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
                / WARNING: Respond.js doesn't work if you view the page via file://
                /[if lt IE 9]
                  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .container-fluid
      / Навигационная панель
      .row
        .header
          %nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
              .navbar-header
                %button.navbar-toggle.collapsed{"data-target" => "#navbar-user-collapse", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                .navbar-shop-select.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "", :role => "button"}
                    Название компании
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a{:href => ""}
                        Компания 1
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li
                      %a{:href => ""}
                        Компания 2
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li
                      %a{:href => ""}
                        Компания 3
                        %span.glyphicon.glyphicon-cog{"data-target" => "#company-add-modal", "data-toggle" => "modal"}
                    %li.divider
                    %li
                      %a{"data-target" => "#company-add-modal", "data-toggle" => "modal", :href => ""} Добавить компанию
              / Модальное окно добавления компании
              #company-add-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "company-add-modal-label", :role => "dialog", :tabindex => "-1"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} &times;
                      %h4#company-add-modal-label.modal-title Добавить компанию
                    .modal-body
                      %form
                        .content
                          .row
                            .form-group.col-xs-12
                              %label{:for => "company-add-modal-name-input"} Название
                              %input#company-add-modal-name-input.form-control{:placeholder => "Название", :type => "text"}
                            .form-group.col-xs-12
                              %label{:for => "company-add-modal-name-input"} Описание
                              %textarea#company-add-modal-name-input.form-control{:placeholder => "Описание", :rows => "4"}
                    .modal-footer
                      %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
                      %button.btn.btn-primary{:type => "button"} Сохранить
              / Модальное окно добавления компании
              #navbar-user-collapse.collapse.navbar-collapse
                %ul.nav.navbar-nav.navbar-right
                  %li
                    %a{:href => ""}
                      %span.glyphicon.glyphicon-bell
                      %span.badge 2
                  %li.dropdown
                    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "", :role => "button"}
                      Имя Пользователя
                      %span.caret
                    %ul.dropdown-menu{:role => "menu"}
                      %li
                        %a{:href => ""} Счет
                      %li
                        %a{:href => ""} Бонусы
                      %li
                        %a{:href => ""} Параметры
                      %li.divider
                      %li
                        %a{:href => ""}
                          Выйти
                          %span.glyphicon.glyphicon-off       / Навигационная панель
      .row
        / sidebar
        #mainMenu.col-sm-3.col-md-2.sidebar
          .list-group
            %a.list-group-item.active{:href => ""}
              %span.glyphicon.glyphicon-list>
              Офферы
              %span.sr-only (текущая)
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-shopping-cart>
              Товары
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-user>
              Сотрудники
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-usd>
              Деньги
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-comment>
              Сообщения
              %span.badge 1
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-stats>
              Статистика
          .list-group
            %a.list-group-item{:href => ""}
              %span.glyphicon.glyphicon-cog
              Параметры
        / sidebar
        .col-sm-9.col-sm-push-3.col-md-10.col-md-push-2.main
          #product-arrival.modal.modal-narrow.fade{"aria-hidden" => "true", "aria-labelledby" => "product-arrival-label", :role => "dialog", :tabindex => "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} &times;
                  %h4#product-arrival-label.modal-title Приход товара
                .modal-body
                  %form
                    .content
                      .row
                        .form-group.col-xs-12
                          %label{:for => "product-arrival-name-input"} Наименование товара
                          %input#product-arrival-name-input.form-control{:placeholder => "Наименование товара", :type => "text"}
                        .form-group.col-xs-8
                          %label{:for => "product-arrival-amount-input"} Количество
                          .input-group
                            %span.input-group-btn
                              %button.btn.btn-default{:type => "button"}
                                %span -
                            %input#product-arrival-amount-input.form-control.text-center{:type => "text", :value => "1"}
                              %span.input-group-btn
                                %button.btn.btn-default{:type => "button"}
                                  %span +
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Отмена
                  %button.btn.btn-primary{:type => "button"} Сохранить
          %h1.page-header Склад 1
          .row
            .col-xs-12.col-sm-5.col-sm-push-7.col-md-3.col-md-push-9
              .form-group
                %label.sr-only{:for => "search"} Поиск
                %input.form-control{:autofocus => "", :name => "search", :placeholder => "Поиск", :type => "search"}
            .col-xs-12.col-sm-7.col-sm-pull-5.col-md-9.col-md-pull-3
              %button.btn.btn-success{"data-target" => "#product-arrival", "data-toggle" => "modal"}
                %span.glyphicon.glyphicon-arrow-down                 Приход товара
              %button.btn.btn-danger{"data-target" => "#product-outgo", "data-toggle" => "modal"}
                %span.glyphicon.glyphicon-arrow-up                 Расход товара
          %br
            / Modal
            .row
              .col-xs-12
                %ul.nav.nav-tabs
                  %li.active{:role => "presentation"}
                    %a{:href => "#items-list"}
                      Все товары
                      %strong 20
                  %li{:role => "presentation"}
                    %a{:href => ""} Учёт прихода
                  %li{:role => "presentation"}
                    %a{:href => ""} Учёт расхода
            %br
              %br
                #items-list.row
                  .col-xs-12
                    .responsive-table
                      %table.table.orders-table.table-hover
                        %thead
                          %tr
                            %th Наименование товара
                            %th Количество
                            %th
                        %tbody
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                #arrival-list.row.hidden
                  .col-xs-12
                    .responsive-table
                      %table.table.orders-table.table-hover
                        %thead
                          %tr
                            %th Дата
                            %th Наименование товара
                            %th Количество
                            %th
                        %tbody
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
                          %tr{"data-target" => "#orders-info-modal", "data-toggle" => "modal"}
                            %td 12 января 2015
                            %td Товар 1
                            %td 12
                            %td
                              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                                %span.glyphicon.glyphicon-pencil
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "js/bootstrap.min.js"}
    :javascript
      $(function () {
        $('[data-toggle="popover"]').popover({
          delay: { "show": 500, "hide": 100 }
        })
      })
        :javascript
      $('a.lock').click(function() {
        $(this).toggleClass('off')
      });