.main.container
  .row.filters.padding-bottom
    .col-xs-12
      %legend Зарплата сотрудникам по дате
      %form.form-inline
        .form-group
          %label с
          %input.form-control{"ng-class" => "{'selected' : date_from}", "ng-model" => "date_from", :type => "datetime-local"}
        .form-group
          %label до
          %input.form-control{"ng-class" => "{'selected' : date_to}", "ng-model" => "date_to", :type => "datetime-local"}
        .form-group
          %label статус
          %select.form-control{"ng-class" => "{'selected' : status_id}", "ng-model" => "status_id", "ng-options" => "item.id as item.name for item in company.dictionaries | filter:{object_type: 5}"}
          %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "date_from = '';date_to = '';status_id = '';"}
            %span{"aria-hidden" => "true"} &times;
      %form.form-inline
        %button.btn-primary.btn-sm{"ng-click" => "generate_salary()"}
          Сгенерировать зарплаты
          %i.glyphicon.glyphicon-usd
  / filters
  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th Оператор
            %th Количество заказов
            %th Сумма
            %th Зарплата
        %tbody
          %tr.item-list{"ng-repeat" => "(employee, salary) in salaries"}
            %td {{employee}}
            %td {{salary.orders_count}}
            %td {{salary.amount | tenge_currency}}
            %td {{salary.salary | tenge_currency}}
  %br
  %br
  .row.filters.padding-bottom
    .col-xs-12
      %legend Выплата вебмастерам по дате
      %form.form-inline
        .form-group
          %label с
          %input.form-control{"ng-class" => "{'selected' : date_from_2}", "ng-model" => "date_from_2", :type => "datetime-local"}
        .form-group
          %label до
          %input.form-control{"ng-class" => "{'selected' : date_to_2}", "ng-model" => "date_to_2", :type => "datetime-local"}
        .form-group
          %label вебмастер
          %select.form-control{"ng-class" => "{'selected' : webmaster}", "ng-model" => "webmaster", "ng-options" => "item.id as item.email + ': ' + item.first_name + ' ' + item.last_name for item in company.webmasters"}
            %option{:value => ""}
              По всем вебмастерам
          %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "date_from_2 = '';date_to_2 = '';webmaster = '';checks = '';"}
            %span{"aria-hidden" => "true"} &times;
      %form.form-inline
        %button.btn-primary.btn-sm{"ng-click" => "generate_bills()"}
          Сгенерировать счета
          %i.glyphicon.glyphicon-credit-card
  / filters
  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th Вебмастер
            %th Оплата
            %th Комментарий
            %th Действия
        %tbody
          %tr.item-list{"ng-show" => "checks", "ng-repeat" => "ckeck in checks"}
            %td {{ckeck.webmaster_id | get_by_id:"webmasters":"email"}}
            %td {{ckeck.amount}}
            %td
              %input{"ng-model" => "ckeck.comment"}
            %td
              %button.btn-primary.btn-sm{"ng-click" => "pay_bills(ckeck)"}
                Оплатить счет
                %i.glyphicon.glyphicon-ok-circle
      .col-xs-12{"ng-show" => "checks"}
        %label
          Общая сумма выплаты: {{total_billing}}
  %br
  %br
  .row
    .col-xs-12
      %legend Выплаченные счета
  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th ID
            %th Пользователь
            %th Вебмастер
            %th Комментарий
            %th Сумма
            %th Дата от
            %th Дата до
            %th Дата оплаты чека
        %tbody
          %tr.item-list{"ng-repeat" => "check in company.checks"}
            %td {{check.id}}
            %td {{check.user.email}}
            %td {{check.webmaster.email}}
            %td {{check.comment}}
            %td {{check.amount}}
            %td {{check.date_from | date}}
            %td {{check.date_to | date}}
            %td {{check.created_at | date}}