.main.container
  .row
    .col-xs-12
      %button.btn.btn-primary{"data-target" => "#invite-webmaster", "data-toggle" => "modal", "ng-click" => "webmaster = {}"}
        %span.glyphicon.glyphicon-plus Пригласить оффера
  .row
    .responsive-table
      %table.table
        %thead
          %tr
            %th ID
            %th Название
            %th Вебмастер
            %th Все заказов
            %th Новые
            %th Подтверждено
            %th Отправлено
            %th Оплачено
            %th Отменено
        %tbody
          %tr.item-list{'ng-repeat' =>'contract in company.contracts | filter:search'}
            %td {{contract.id}}
            %td
              %a{:href => "#"} {{contract.offer.name}}
              %br/
              %button.btn.btn-danger{:type => "button", 'ng-click' => '', "ng-show" => "contract.accepted && !contract.denied"} Расторгнуть
              %button.btn.btn-info{:type => "button", 'ng-click' => '', "ng-show" => "contract.denied"} Отклонено
              %button.btn.btn-success{:type => "button", 'ng-click' => 'accept_contract(contract)', "ng-show" => "!contract.accepted"} Принять
              %button.btn.btn-danger{:type => "button", 'ng-click' => 'decline_contract(contract)', "ng-show" => "!contract.accepted"} Отклонить
            %td
              %a{:href => "#"}{{contract.webmaster_id | get_by_id:"webmasters":"first_name"}} {{contract.webmaster_id | get_by_id:"webmasters":"last_name"}}
            %td {{contract.orders_count}}
            %td {{contract.count.new}}
            %td {{contract.count.accepted}}
            %td {{contract.count.sended}}
            %td {{contract.count.payed}}
            %td {{contract.count.canceled}}
