.main.container
  .row
    .responsive-table
      %table.table
        %thead
          %tr
            %th ID
            %th ФИО
            %th Телефон
            %th Дата создания
            %th Действия
        %tbody
          %tr.item-list{'ng-repeat' =>'customer in company.customers | filter:search'}
            %td {{customer.id}}
            %td {{customer.first_name}} {{customer.last_name}}
            %td {{customer.phone}}
            %td {{customer.created_at | date}}
            %td
              %a{"ng-click" => "open_customer(customer)", :href => ""}
                %span.glyphicon.glyphicon-pencil
