.main.container
  .row
    .col-xs-12
      %button.btn.btn-primary{"data-target" => "#add-new-dictionary", "data-toggle" => "modal", "ng-click" => "new_dictionary = {}"}
        %span.glyphicon.glyphicon-plus Добавить
  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th ID
            %th Название
            %th Дополнительно
            %th Создан
            %th Изменен
            %th
        %tbody
          %tr.item-list{"ng-repeat" => "dictionary in company.dictionaries | filter:{object_type: current_dictionary}"}
            %td {{dictionary.id}}
            %td {{dictionary.name}}
            %td {{dictionary.additional}}
            %td {{dictionary.created_at | date}}
            %td {{dictionary.updated_at | date}}
            %td
              %a{"ng-click" => "edit_dictionary(dictionary.id)", "ng-hide" => "!hasAccess('advert_admin')"}
                %span.glyphicon.glyphicon-pencil