.main.container
  .row
    .col-xs-12
      %button.btn.btn-primary{"data-target" => "#employees-add-modal", "data-toggle" => "modal", "ng-click" => "employee = {}"}
        %span.glyphicon.glyphicon-plus Добавить
  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th Роли
            %th Фамилия
            %th Имя
            %th email
            %th Действия
            %th Заблокировать
        %tbody
          %tr.item-list{"ng-repeat" => "employee in company.employees | filter:search"}
            %td
              %span{"ng-repeat" => "(role, isTrue) in employee.roles", "ng-show" => "isTrue"}
                {{roles[role] + ' | '}}
            %td {{ employee.user.first_name }}
            %td {{ employee.user.last_name }}
            %td {{ employee.user.email }}
            %td
              %a{"ng-click" => "edit_employee(employee.id)", :href => "#"}
                %span.glyphicon.glyphicon-pencil
            %td
              %a.lock.on{'ng-show' => 'employee.blocked', "ng-click" => "unblock_employee(employee.id)", "data-content" => "Запретить сотруднику работать в компании", "data-placement" => "left", "data-toggle" => "popover", "data-trigger" => "hover", :href => "#", :title => "Заблокировать сотрудника"}
                %span.glyphicon.glyphicon-lock
              %a.lock.off{'ng-show' => '!employee.blocked', "ng-click" => "block_employee(employee.id)", "data-content" => "Запретить сотруднику работать в компании", "data-placement" => "left", "data-toggle" => "popover", "data-trigger" => "hover", :href => "#", :title => "Заблокировать сотрудника"}
                %span.glyphicon.glyphicon-lock

