.main.container
  .row
    .col-xs-12
      %form.form-inline
        .form-group
          %label{:for => "orders-filter-from"} с
          %input#orders-filter-from.form-control{:placeholder => "Text input", :type => "date"}
        .form-group
          %label{:for => "orders-filter-until"} до
          %input#orders-filter-until.form-control{:placeholder => "Text input", :type => "date"}

  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th
              .btn-group
                %button.btn.btn-default.clearfix{:type => "button"} ID
                %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                  %span.caret
                  %span.sr-only Toggle Dropdown
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#"} Action
                  %li
                    %a{:href => "#"} Another action
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li
                    %a{:href => "#"} Separated link
            %th
              .btn-group
                %button.btn.btn-default{:type => "button"} Пользователь
                %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                  %span.caret
                  %span.sr-only Toggle Dropdown
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#"} Action
                  %li
                    %a{:href => "#"} Another action
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li
                    %a{:href => "#"} Separated link
            %th
              .btn-group
                %button.btn.btn-default{:type => "button"} Дата действия
                %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                  %span.caret
                  %span.sr-only Toggle Dropdown
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#"} Action
                  %li
                    %a{:href => "#"} Another action
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li
                    %a{:href => "#"} Separated link
            %th
              .btn-group
                %button.btn.btn-default{:type => "button"} Объект
                %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                  %span.caret
                  %span.sr-only Toggle Dropdown
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#"} Action
                  %li
                    %a{:href => "#"} Another action
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li
                    %a{:href => "#"} Separated link
            %th
              .btn-group
                %button.btn.btn-default{:type => "button"} Действие
                %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                  %span.caret
                  %span.sr-only Toggle Dropdown
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#"} Action
                  %li
                    %a{:href => "#"} Another action
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li
                    %a{:href => "#"} Separated link
        %tbody
          %tr.item-list{"ng-repeat" => "log in company.logs | filter:search"}
            %td {{log.id}}
            %td {{log.user}}
            %td {{log.created_at | date}}
            %td {{log.object_type + ": " + log.object_id}}
            %td {{log.action}}
