.main.container
  .chat
    / dialog
    .dialog{"ng-show" => "current_chat.user_id"}
      %legend Сегодня
      .line.animate{"ng-repeat" => "message in company.messages | filter: dst: current_chat.user_id || src: user.id | orderBy:'created_at'"}
        .message{"ng-class" => "{'message-right': message.dst==current_chat.user_id, 'message-left': message.dst!=current_chat.user_id, 'unread': !message.read}", :time => "{{message.created_at | date:'HH:mm'}}"} {{message.message}}
      .line
        .message
          %textarea#text-message{"ng-keypress" => "$event.keyCode == 13 && send_message($event)", "ng-model" => "message", :rows => "1", :placeholder => "Начните набирать сообщение"}
    / dialog
    .dialog{"ng-show" => "!current_chat.user_id"}
      %legend Выберите собеседника
    / contacts
    .contacts
      .contact
        .info
          %p
            Настройки чата
            %button.icon-more
            %button
          %small Поменять статус
      .list
        .contact.animate{"ng-repeat" => "user in company.employees | filter: { user_id: '!' + user.id}", "ng-click" => "open_dialog(user)", "ng-class" => "{'selected': user.user_id == current_chat.user_id}"}
          .info
            %p
              {{user.user.first_name + ' ' + user.user.last_name}}
              %button.icon-more
              %button
            %small Текст последнего сообщения
    / contacts
/ content