.main.container
  .alert.alert-dismissible.fade.in{:role => "alert", 'ng-repeat' => 'alert in alerts track by $index', 'ng-class' => "{'alert-danger': alert.type == 'danger', 'alert-success': alert.type == 'success'}"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    12 января 2015 -
    %strong Ошибка!
    Вы ошиблись