.main.container
  .row
    .col-xs-12
      %button.btn.btn-primary{"data-target" => "#offers-add-modal", "data-toggle" => "modal", "ng-click" => "offer = {}"}
        %span.glyphicon.glyphicon-plus Добавить
  .row
    .responsive-table
      %table.table
        %thead
          %tr
            %th
            %th
            %th ID
            %th Название оффера
            %th Цена
            %th Валюта
            %th Продукт
            %th Описание
        %tbody
          %tr.item-list{'ng-repeat' => 'offer in company.offers | filter:search'}
            %td
              %img.img-circle{:height => "80", :src => "/img/image.jpg", :width => "80"}
            %td
              %a{"ng-click" => "edit_offer(offer.id)", :href => "#"}
                %span.glyphicon.glyphicon-pencil
            %td {{offer.id}}
            %td
              %a{"ng-click" => "edit_offer(offer.id)", :href => "#"} {{offer.name}}
            %td {{offer.price}}
            %td {{currency[offer.currency]}}
            %td {{offer.product_id | get_by_id:"products":"name"}}
            %td {{offer.description}}
            %td{"ng-hide" => "true"}
              %a{"ng-click" => "delete_offer(offer.id)", :href => "#"}
                %span.glyphicon.glyphicon-remove.text-red
