.main.container
  / filters
  .row.filters.padding-bottom
    .col-xs-12
      %div{"ng-hide" => ""}
        %legend Фильтрация по действию и дате
        %form.form-inline{"ng-repeat" => "filter in order_filters track by $index"}
          .form-group
            %label{:for => "orders-filter-date"}
            %select.form-control.animate-show{"ng-class" => "{'selected' : filter.action_id}", "ng-model" => "filter.action_id", "ng-options" => "key as value for (key, value) in company.filter_actions"}
            %select.form-control.animate-show{"ng-class" => "{'selected' : filter.field_id}", "ng-show" => "filter.action_id == 1", "ng-model" => "filter.field_id", "ng-options" => "key as value for (key, value) in company.filter_fields"}
            %select.form-control.animate-show{"ng-class" => "{'selected' : filter.dictionary_id}", "ng-show" => "filter.action_id == 1 && isDictionary(filter, company.filter_fields[filter.field_id])", "ng-model" => "filter.dictionary_id", "ng-options" => "item.id as item.name for item in company.dictionaries | filter:{object_type: filter.dictionary_filter_type_id}"}
        %form.form-inline
          .form-group
            %label{:for => "orders-filter-from"} с
            %input.form-control{"ng-class" => "{'selected' : date_from}", "ng-model" => "date_from", :type => "datetime-local"}
          .form-group
            %label{:for => "orders-filter-until"} до
            %input.form-control{"ng-class" => "{'selected' : date_to}", "ng-model" => "date_to", :type => "datetime-local"}
        %form.form-inline
          .form-group
            %button.close{:style => "padding: 0px 8px;", "aria-label" => "Close", :type => "button", "ng-click" => "filter_orders_remove()"}
              %span{"aria-hidden" => "true"} &times;
            %label
              %button.button-plus{"ng-click" => "new_order_filter()"} +
              добавить фильтр по журналу
        %form.form-inline
          %button.btn-primary.btn-sm{"ng-click" => "filter_orders()"}
            Фильтр
            %i.glyphicon.glyphicon-filter
      %legend Фильтрация по статусу
      %label заказ
      %form.form-inline
        .form-group
          %select.form-control{"ng-class" => "{'selected' : search.status_reverse}", "ng-init" => "search.status_reverse = order_search_types[0].value", "ng-model" => "search.status_reverse", "ng-options" => "item.value as item.name for item in order_search_types"}
          %select#order-status.form-control{"chosen" => true, "multiple" => true, "data-placeholder" => "Выберите статусы заказов", :style => "min-width: 300px", "ng-class" => "{'selected' : search.status_id}", "ng-model" => "search.status_id", "ng-options" => "item.id as item.name for item in company.dictionaries | filter:{object_type: 5}"}
            %option
          %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "search.status_id = ''"}
            %span{"aria-hidden" => "true"} &times;
          %button.close{"aria-label" => "Добавить все", :type => "button", "ng-click" => "add_all('status_id', 5)"}
            %span{"aria-hidden" => "true"} +
        -#%button.button-plus{"data-target" => "#new-order-status-modal", "data-toggle" => "modal"} +
      %label посылка
      %form.form-inline
        .form-group
          %select.form-control{"ng-class" => "{'selected' : search.logistic_status_reverse}", "ng-change" => "search.logistic_status_id = ''", "ng-init" => "search.logistic_status_reverse = order_search_types[0].value", "ng-model" => "search.logistic_status_reverse", "ng-options" => "item.value as item.name for item in order_search_types"}
          %select.form-control{"chosen" => true, "multiple" => true, "data-placeholder" => "Выберите статусы посылки", :style => "min-width: 300px", "ng-class" => "{'selected' : search.logistic_status_id}", "ng-init" => "search.logistic_status_id = []", "ng-model" => "search.logistic_status_id", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 3}'}
            %option
          %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "search.logistic_status_id = ''"}
            %span{"aria-hidden" => "true"} &times;
          %button.close{"aria-label" => "Добавить все", :type => "button", "ng-click" => "add_all('logistic_status_id', 3)"}
            %span{"aria-hidden" => "true"} +
      .col-xs-10.col-md-5.slim
        %legend Фильтрация по доставке
        %label тип доставки
        %form.form-inline
          .form-group
            %select.form-control{"chosen" => true, "data-placeholder" => "Выберите тип доставки", :style => "min-width: 300px", "ng-change" => "onSelect()", "ng-model" => "search.delivery_type_id", 'ng-options' => 'item.id as item.name for item in delivery_types'}
              %option
            %select.form-control{"chosen" => true, "multiple" => true, "data-placeholder" => "Выберите курьеров", :style => "min-width: 300px", "ng-class" => "{'selected' : search.courier}", "ng-if" => "search.delivery_type_id == 0", "ng-model" => "search.courier", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 7}'}
              %option
            %select.form-control{"chosen" => true, "multiple" => true, "data-placeholder" => "Выберите индекса", :style => "min-width: 300px", "ng-class" => "{'selected' : search.zip}", "ng-if" => "search.delivery_type_id == 1", "ng-model" => "search.zip", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 2}'}
              %option
            %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "search.delivery_type_id = null; search.courier = ''; search.zip = ''"}
              %span{"aria-hidden" => "true"} &times;
        %legend Фильтрация по товару
        %label тип товара
        %form.form-inline
          .form-group
            %select.form-control{"chosen" => true, "multiple" => true, "data-placeholder" => "Выберите товары", :style => "min-width: 300px", "ng-class" => "{'selected' : search.products}", "ng-model" => "search.products", 'ng-options' => 'item.id as item.name for item in company.products'}
              %option
            %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "search.products = '';"}
              %span{"aria-hidden" => "true"} &times;
        %legend Фильтрация по вебмастеру
        %form.form-inline
          .form-group
            %select.form-control{"chosen" => true, "multiple" => true, "data-placeholder" => "Выберите вебмастеров", :style => "min-width: 300px", "ng-class" => "{'selected' : search.webmasters}", "ng-model" => "search.webmasters", "ng-options" => "item.id as (item.first_name + ' ' + item.last_name) for item in company.webmasters"}
              %option
            %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "search.webmasters = '';"}
              %span{"aria-hidden" => "true"} &times;
        %label Количество результатов (на странице {{company.orders.length}} {{company.orders.length === 1 ? 'заказ' : 'заказов'}})
        %form.form-inline
          .form-group
            %input.form-control{"ng-class" => "{'selected' : search.limit}", :type => "number", "ng-change" => "test()", "ng-model" => "search.limit", "ng-init" => "search.limit = 100"}
        %form.form-inline
          %button.btn-primary.btn-sm{"ng-click" => "filter_orders()"}
            Фильтр
            %i.glyphicon.glyphicon-filter
      .col-xs-14.col-md-7.slim
        %legend Фильтрация по дате
        %label доставки
        %form.form-inline
          .form-group
            %label от
            %input.form-control{"ng-class" => "{'selected' : search.delivery_date_from}", "ng-init" => "search.delivery_date_from = ''",  "ng-model" => "search.delivery_date_from", :type => "datetime-local", "ng-focus" => "set_date('delivery_date_from', true)"}
            %label до
            %input.form-control{"ng-class" => "{'selected' : search.delivery_date_to}", "ng-model" => "search.delivery_date_to", :type => "datetime-local", "ng-focus" => "set_date('delivery_date_to', false)"}
            %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "search.delivery_date_from = '';search.delivery_date_to = '';"}
              %span{"aria-hidden" => "true"} &times;
        %label перезвона
        %form.form-inline
          .form-group
            %label от
            %input.form-control{"ng-class" => "{'selected' : search.recall_date_from}", "ng-model" => "search.recall_date_from", :type => "datetime-local", "ng-focus" => "set_date('recall_date_from', true)"}
            %label до
            %input.form-control{"ng-class" => "{'selected' : search.recall_date_to}", "ng-model" => "search.recall_date_to", :type => "datetime-local", "ng-focus" => "set_date('recall_date_to', false)"}
            %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "search.recall_date_from = '';search.recall_date_to = '';"}
              %span{"aria-hidden" => "true"} &times;
  / filters
  / table
  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th
              %input{:type => "checkbox", "ng-model" => "select_all_orders"}
            %th ID
            %th Статус
            %th Дата заказа
            %th Наименование оффера
            %th Сумма
            %th Тип доставки
            %th Статус посылки
            %th Клиент
            %th Телефон
            %th{:style => "width: 140px;"} Действия
        %tbody
          %tr.item-list{"ng-repeat-start" => "order in company.orders", "ng-class" => "{'selected' : order.expanded}", }
            %td
              %input{:type => "checkbox", "ng-model" => "order.selected"}
            %td {{order.id}}
            %td{"ng-click" => "order.expanded = false; open_order(order)"}
              %button.offers-list-offer-status.btn.btn-success.btn-xs{:type => "button"} {{order.status_id|get_by_id:"dictionaries":"name"}}
            %td{"ng-click" => "order.expanded = false; open_order(order)"} {{order.customer.updated_at | date}}
            %td{"ng-click" => "order.expanded = false; open_order(order)"} {{order.offer_id|get_by_id:"offers":"name"}}
            %td{"ng-click" => "order.expanded = false; open_order(order)"} {{order.total_amount | tenge_currency}}
            %td{"ng-click" => "order.expanded = false; open_order(order)"} {{delivery_types[order.delivery_type_id].name}}
            %td{"ng-click" => "order.expanded = false; open_order(order)"} {{order.logistic_status_id|get_by_id:"dictionaries":"name"}}
            %td{"ng-click" => "order.expanded = false; open_order(order)"} {{order.customer.first_name}} {{order.customer.last_name}}
            %td{"ng-click" => "order.expanded = false; open_order(order)"} {{order.customer.phone}}
            %td
              %button.btn.btn-info.btn-xs{"ng-click" => "expand_order(order)"}
                %i.glyphicon.glyphicon-collapse-down{"ng-class" => "{'glyphicon-collapse-down': !order.expanded, 'glyphicon-collapse-up': order.expanded}"}
              %button.btn.btn-primary.btn-xs{:type => "button", "ng-click" => "order.expanded = false; open_order(order)"} Открыть
          / snippet
          %tr.order-info.item-list{"ng-repeat-end" => true, "ng-if" => "order.expanded"}
            %td{:colspan => "100"}
              .row.padding-bottom
                .col-xs-12.slim
                  %h4.modal-title
                    Заказ # {{order.id}} из магазина
                    %a{"ng-href" => "{{current_order.landing_page}}"} {{current_order.landing_page}}
                    на сумму {{order.total_amount | tenge_currency}}
                    %h5
                      %span{"ng-repeat" => "status in company.dictionaries | filter:{object_type: 5}"} {{status|last_status_change:order:$last}}
                .col-xs-12.slim
                  %legend Информация о заказе
                  .form-group.col-xs-5.col-sm-4.col-md-3
                    %label{:for => "order-id"} ID
                    %input.form-control{:type => "text", "ng-model" => "order.id"}
                  .form-group.col-xs-5.col-sm-4.col-md-3
                    %label{:for => "order-status"} Статус
                    %select.form-control{"ng-model" => "order.status_id", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 5}'}
                  .form-group.col-xs-12
                    %table.mg-table
                      %tr
                        %th Наименование товара
                        %th Количество
                        %th Цена
                        %th{"ng-hide" => "true"} Скидка в процентах
                        %th{"ng-hide" => "true"} Скидка в сумме
                      %tr{"ng-repeat" => "order_product in order.order_products"}
                        %td
                          %select.form-control{"ng-model" => "order_product.product_id", 'ng-options' => 'product.id as product.name for product in company.products'}
                        %td
                          %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-change" => "recount_total_amount(order)", :min => "0", :type => "number", "ng-model" => "order_product.count"}
                        %td
                          %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-change" => "recount_total_amount(order)", :min => "0", :step => "100", :type => "number", "ng-model" => "order_product.price", :disabled => "true"}
                        %td{"ng-hide" => "true"}
                          %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-change" => "recount_total_amount(order)", :min => "0", :max => "100", :step => "1", :type => "number", "ng-model" => "order_product.percent", :disabled => "true"}
                        %td{"ng-hide" => "true"}
                          %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-change" => "recount_total_amount(order)", :min => "0", :step => "100", :type => "number", "ng-model" => "order_product.discount", :disabled => "true"}
                        %td.table-control
                          %button.close{"ng-click" => "remove_product(order, order_product)", "aria-label" => "Close", :type => "button"}
                            %span{"aria-hidden" => "true"} &times;
                    %label
                      %select.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-model" => "add_product_temp", 'ng-options' => 'product as product.name for product in company.products'}
                      %button.button-plus{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-click" => "add_product(order, add_product_temp)", :href => "#"} +
                      Добавить товар
                .col-xs-12.col-md-6.slim
                  %legend Информация о покупателе
                  .form-group.col-xs-6
                    %label Фамилия
                    %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", 'ng-model' => "order.customer.last_name", :type => "text"}
                  .form-group.col-xs-6
                    %label Имя
                    %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", 'ng-model' => "order.customer.first_name", :type => "text"}
                  .form-group.col-xs-6
                    %label Телефон
                    %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", 'ng-model' => "order.customer.phone", :type => "text"}
                  .form-group.col-xs-6{"ng-hide" => "true"}
                    %label Страна
                    %select.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", "ng-model" => "order.customer.country", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 0}'}
                  .form-group.col-xs-6
                    %label Индекс
                    %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", 'ng-model' => "order.customer.zip", :type => "tel"}
                  .form-group.col-xs-6
                    %label Район
                    %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", 'ng-model' => "order.customer.province", :type => "tel"}
                  .form-group.col-xs-6
                    %label Город
                    %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", 'ng-model' => "order.customer.city", :type => "tel"}
                  .form-group.col-xs-12
                    %label Адрес
                    %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')", 'ng-model' => "order.customer.address", :type => "tel"}
                  .form-group.col-xs-12{"ng-hide" => "!hasAccess('advert_admin, log_manager, call_manager, call_operator')"}
                    %label Автозаполнение
                    %select.form-control{"chosen" => true, :style => "max-width: 300px", "ng-change" => "index_change(auto_index)", "data-placeholder" => "Начните вводить адрес", "ng-model" => "auto_index", 'ng-options' => "item as item.zip + ': ' + item.city for item in indexes"}
                      %option
                  .form-group.col-xs-6
                    %label Способ доставки
                    %select.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, log_operator')", "ng-model" => "order.delivery_type_id", 'ng-options' => 'item.id as item.name for item in delivery_types'}
                  .form-group.col-xs-6{"ng-show" => "order.delivery_type_id == 0"}
                    %label Курьерская служба
                    %select.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, log_operator')", "ng-model" => "order.courier", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 7}'}
                  .form-group.col-xs-6{"ng-show" => "order.delivery_type_id == 1"}
                    %label Индекс
                    %select.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, log_operator')", "ng-model" => "order.zip", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 2}'}
                .col-xs-12.col-md-6.slim{"ng-hide" => "!hasAccess('advert_admin, log_manager, log_operator')"}
                  %legend Информация о доставке
                  .form-group.col-xs-6
                    %label Статус посылки
                    %select.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager,call_manager,  log_operator')", "ng-model" => "order.logistic_status_id", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 3}'}
                  .form-group.col-xs-6
                    %label Штрих код
                    %input.form-control{"ng-disabled" => "true", :type => "text", "ng-model" => "order.barcode"}
                  .form-group.col-xs-6
                    %label Сумма доставки
                    %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, log_operator')", :type => "text", "ng-model" => "order.delivery_amount"}
                  .form-group.col-xs-6
                    %label Дата доставки
                    %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, call_manager, log_operator')", :type => "text", "ng-model" => "order.delivery_date", :type => "datetime-local"}
                  .form-group.col-xs-6
                    %label Дата перезвона
                    %input.form-control{"ng-disabled" => "!hasAccess('advert_admin, log_manager, log_operator, call_manager, call_operator')", :type => "text", "ng-model" => "order.recall_date", :type => "datetime-local"}
                .col-xs-12.slim
                  %legend Комментарий
                  %textarea.form-control{"ng-model" => "order.customer.comment", "ng-init" => "logs_collapse = false", :type => "text"}
                #accord.col-xs-12.slim.panel-group{"ng-if" => "hasAccess('advert_admin, log_manager, call_manager')", "aria-multiselectable" => "true", :role => "tablist"}
                  %legend Журнал над заказом
                  %button.btn.btn-default{"ng-click" => "logs_collapse = !logs_collapse"} {{logs_collapse?'Скрыть':'Показать'}} журнал
                  %ul.list-group{"collapse" => "!logs_collapse"}
                    %li.list-group-item{"ng-repeat" => "log in order.logs track by $index"}
                      {{log}}
                .col-xs-12.slim
                  %button.btn.btn-default{"ng-click" => "order.expanded = false", :type => "button"} Отмена
                  %button.btn.btn-primary{:type => "button", 'ng-click' => 'save_order(order); order.expanded = false', "ng-disabled" => "order.delivery_type_id==0 && !order.courier || order.delivery_type_id==1 && !order.zip"} Сохранить
          / snippet
  / table

  .row.filters
    .col-xs-12.col-md-6.slim
      %label{"ng-show" => "(company.orders|filter:{selected:true}).length>0"} Выделено {{(company.orders|filter:{selected:true}).length}} {{(company.orders|filter:{selected:true}).length === 1 ? 'заказ' : 'заказа'}}
      %legend Экспорт
      %button.btn-primary.btn-sm{"ng-click" => "open_columns_choose_modal(0)"}
        Выбранных заказов
        %i.glyphicon.glyphicon-transfer
      %button.btn-primary.btn-sm{"ng-click" => "open_columns_choose_modal(1)"}
        Всех
        %i.glyphicon.glyphicon-transfer
      %button.btn-primary.btn-sm{"ng-click" => "open_columns_choose_modal(2)"}
        Новых
        %i.glyphicon.glyphicon-transfer
      %legend Массовое присваивание
      %label статус заказа
      %form.form-inline
        .form-group
          %select.form-control{"chosen" => true, "data-placeholder" => "Выберите статус заказа", :style => "min-width: 300px", "ng-class" => "{'selected' : massive.status_id}", "ng-model" => "massive.status_id", "ng-options" => "item.id as item.name for item in company.dictionaries | filter:{object_type: 5}"}
            %option
          %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "massive.status_id = ''"}
            %span{"aria-hidden" => "true"} &times;
      %label статус посылки
      %form.form-inline
        .form-group
          %select.form-control{"chosen" => true, "data-placeholder" => "Выберите статус посылки", :style => "min-width: 300px", "ng-class" => "{'selected' : massive.logistic_status_id}", "ng-model" => "massive.logistic_status_id", "ng-options" => "item.id as item.name for item in company.dictionaries | filter:{object_type: 3}"}
            %option
          %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "massive.logistic_status_id = ''"}
            %span{"aria-hidden" => "true"} &times;
        %button.btn-primary.btn-sm{"ng-click" => "massive_status(massive)"}
          Изменить
          %i.glyphicon.glyphicon-transfer
      %label сумма доставки
      %form.form-inline
        .form-group
          %input.form-control{:style => "min-width: 300px", :type => "number", :min => "0", "ng-class" => "{'selected' : massive.delivery_amount}", "ng-model" => "massive.delivery_amount"}
          %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "massive.delivery_amount = ''"}
            %span{"aria-hidden" => "true"} &times;
        %button.btn-primary.btn-sm{"ng-click" => "massive_delivery_amount(massive.delivery_amount)"}
          Присвоить
          %i.glyphicon.glyphicon-open
    .col-xs-12.col-md-6.slim
      %label{"ng-show" => "(company.orders|filter:{selected:true}).length>0"}
      %legend Дополнительный функционал
      %form.form-inline
        .form-group
          %input.form-control{:type => "string", "ng-class" => "{'selected' : company.barcode_prefix}", "ng-model" => "company.barcode_prefix"}
          %button.btn-primary.btn-sm{"ng-click" => "generate_barcodes()"}
            Присвоить штрих-кода
            %i.glyphicon.glyphicon-barcode
      %button.btn-primary.btn-sm{"ng-click" => "export_to_registry()"}
        Экспорт в реестр
        %i.glyphicon.glyphicon-export
      %button.btn-primary.btn-sm{"ng-click" => "print_blanks()"}
        Печать бланков
        %i.glyphicon.glyphicon-duplicate

  /global search
  .row
    .col-xs-12
      %label.sr-only{:for => "global_search"} Глобальный поиск
      %textarea.form-control{:name => "global_search", :placeholder => "Глобальный поиск", :type => "search", "ng-model" => "global_search"}
      %form.form-inline{:style => "margin: 10px;"}
        .form-group
          .checkbox
            %label
              %input{:type => "checkbox", "ng-model" => "fields.global"}
                %b
                  Глобальный
            Поиск по:
            %label
              %input{:type => "checkbox", "ng-model" => "fields.id"}
                номеру
            %label
              %input{:type => "checkbox", "ng-model" => "fields.last_name"}
                фамилия
            %label
              %input{:type => "checkbox", "ng-model" => "fields.first_name"}
                имя
            %label
              %input{:type => "checkbox", "ng-model" => "fields.zip"}
                индекс
            %label
              %input{:type => "checkbox", "ng-model" => "fields.address"}
                адрес
            %label
              %input{:type => "checkbox", "ng-model" => "fields.phone"}
                телефон
            %label
              %input{:type => "checkbox", "ng-model" => "fields.barcode"}
                штрих-код
            %label
              %input{:type => "checkbox", "ng-model" => "fields.comment"}
                комментарий
      %form.form-inline
        .form-group
          %button.btn-primary.btn-sm{"ng-click" => "search_orders(global_search, fields)"}
            Поиск
            %i.glyphicon.glyphicon-search
