.main.container
  .row
    .col-xs-12
      %button.btn.btn-primary{"data-target" => "#new_product", "data-toggle" => "modal", "ng-click" => "product = {}"}
        %span.glyphicon.glyphicon-plus Добавить товар
  .row
    .responsive-table
      %table.table
        %thead
          %tr
            %th Название
            %th Название на латинице
            %th Цена
            %th Вес
            %th Доставка
            %th Дата добавления
        %tbody
          %tr.item-list{'ng-repeat' => 'product in company.products | filter:search'}
            %td
              %a{"ng-click" => "edit_product(product.id)", :href => "#"} {{ product.name }}
            %td {{ product.lat_name }}
            %td {{ product.price | tenge_currency }}
            %td {{ product.weight }}
            %td {{ product.delivery_amount }}
            %td
            %td
              %a{"ng-click" => "edit_product(product.id)", :href => "#"}
                %span.glyphicon.glyphicon-pencil
              %a{"ng-disabled" => "!hasAccess('advert_admin, log_manager')", "ng-click" => "delete_product(product.id)", :href => "#"}
                %span.glyphicon.glyphicon-remove.text-red