.main.container
  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th Название
            %th
        %tbody
          %tr.item-list{"ng-repeat" => "(key, dictionary) in dictionary_types"}
            %td
              %a{:href => "/advert/dictionary/{{key}}"} {{dictionary}}
            %td
              %a{:href => "/advert/dictionary/{{key}}"}
                %span.glyphicon.glyphicon-list