.main.container
  .row.filters.padding-bottom
    .col-xs-12
      %legend Статистика по дате
      %form.form-inline
        .form-group
          %label с
          %input.form-control{"ng-class" => "{'selected' : date_from}", "ng-model" => "date_from", :type => "datetime-local"}
        .form-group
          %label до
          %input.form-control{"ng-class" => "{'selected' : date_to}", "ng-model" => "date_to", :type => "datetime-local"}
        .form-group
          %label изменен статус с
          %select.form-control{"ng-model" => "status_from", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 5}'}
        .form-group
          %label на
          %select.form-control{"ng-model" => "status_to", 'ng-options' => 'item.id as item.name for item in company.dictionaries | filter:{object_type: 5}'}
          %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "date_from = '';date_to = '';status_from = '';status_to = '';"}
            %span{"aria-hidden" => "true"} &times;
      %form.form-inline
        %button.btn-primary.btn-sm{"ng-click" => "generate_statistic()"}
          Фильтр
          %i.glyphicon.glyphicon-filter
  / filters
  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th Все
            %th Новый
            %th Подтвержден
            %th Отправлен
            %th Оплачен
            %th Возврат
            %th % оплаченных
            %th % возвращенных
        %tbody
          %tr.item-list
            %td {{statistics.all}}
            %td {{statistics.new}}
            %td {{statistics.accepted}}
            %td {{statistics.sended}}
            %td {{statistics.payed}}
            %td {{statistics.returned}}
            %td {{(100*statistics.payed/statistics.all)| number:2}}
            %td {{(100*statistics.returned/statistics.all)| number:2}}
  .row.filters.padding-bottom
    .col-xs-12
      %legend Статистика по дате
      %form.form-inline
        .form-group
          %label с
          %input.form-control{"ng-class" => "{'selected' : date_from_2}", "ng-model" => "date_from_2", :type => "datetime-local"}
        .form-group
          %label до
          %input.form-control{"ng-class" => "{'selected' : date_to_2}", "ng-model" => "date_to_2", :type => "datetime-local"}
          %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "date_from_2 = '';date_to_2 = '';"}
            %span{"aria-hidden" => "true"} &times;
      %form.form-inline
        %button.btn-primary.btn-sm{"ng-click" => "generate_accepted_statistic()"}
          Фильтр
          %i.glyphicon.glyphicon-filter
  / filters
  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th Все
            %th Новый
            %th Подтвержден
            %th Отправлен
            %th Оплачен
            %th Возврат
            %th % оплаченных
            %th % возвращенных
        %tbody
          %tr.item-list
            %td {{accepted_statistics.all}}
            %td {{accepted_statistics.new}}
            %td {{accepted_statistics.accepted}}
            %td {{accepted_statistics.sended}}
            %td {{accepted_statistics.payed}}
            %td {{accepted_statistics.returned}}
            %td {{(100*accepted_statistics.payed/accepted_statistics.accepted)| number:2}}
            %td {{(100*accepted_statistics.returned/accepted_statistics.accepted)| number:2}}