.main.container
  .row
    .col-xs-12
      %button.btn.btn-success{"data-target" => "#product-arrival", "data-toggle" => "modal", "ng-click" => "product_arrival = {}"}
        %span.glyphicon.glyphicon-arrow-down                 Приход товара
      %button.btn.btn-danger{"data-target" => "#product-outgo", "data-toggle" => "modal", "ng-click" => "product_outgo = {}"}
        %span.glyphicon.glyphicon-arrow-up                 Расход товара
  .row
    .col-xs-12
      %ul.nav.nav-pills
        %li.active{:role => "presentation"}
          %a{:href => ""}
            Все товары
            %strong 20
        %li{:role => "presentation"}
          %a{:href => ""} Учёт прихода
        %li{:role => "presentation"}
          %a{:href => ""} Учёт расхода
  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th Наименование товара
            %th Количество
            %th
        %tbody
          %tr.item-list{"ng-repeat" => "warehouse_product in warehouse.warehouse_products | filter:search", "data-target" => "#orders-info-modal", "data-toggle" => "modal"}
            %td {{warehouse_product.product_id|get_by_id:"products":"name"}}
            %td {{warehouse_product.count}}
            %td
              %a{"data-target" => "#employees-list-employee-modal", "data-toggle" => "modal", :href => ""}
                %span.glyphicon.glyphicon-pencil