.main.container
  .row
    .col-xs-12
      %button.btn.btn-primary{"ng-disabled" => "!hasAccess('advert_admin')", "data-target" => "#add-new-warehouse", "data-toggle" => "modal", "ng-click" => "new_warehouse = {}"}
        %span.glyphicon.glyphicon-plus Добавить
  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th Название
            %th Местонахождение
            %th
        %tbody
          %tr.item-list{"ng-repeat" => "warehouse in company.warehouses"}
            %td
              %a{:href => "/advert/warehouse/{{warehouse.id}}"} {{warehouse.name}}
            %td {{warehouse.location}}
            %td
              %a{:href => "/advert/warehouse/{{warehouse.id}}"}
                %span.glyphicon.glyphicon-list
              %a{"ng-click" => "show_warehouse(warehouse.id)", :href => ""}
                %span.glyphicon.glyphicon-pencil