.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    border: 1px solid black;
    background: white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

/*animate show-hide elements*/
.animate.ng-enter,
.animate.ng-leave,
.animate.ng-move {
    -webkit-transition: 0.5s ease-out all;
    -moz-transition: 0.5s ease-out all;
    -o-transition: 0.5s ease-out all;
    transition: 0.5s ease-out all;
}

.animate.ng-enter,
.animate.ng-move {
    opacity: 0;
    overflow: hidden;
}

.animate.ng-move.ng-move-active,
.animate.ng-enter.ng-enter-active {
    opacity: 1;
}

.animate.ng-leave {
    opacity: 1;
    overflow: hidden;
}

.animate.ng-leave.ng-leave-active {
    opacity: 0;
}
/*end animate show-hide elements*/

.item-list.ng-enter,
.item-list.ng-leave,
.item-list.ng-move {
    -webkit-transition: 0.5s ease-out all;
    -moz-transition: 0.5s ease-out all;
    -o-transition: 0.5s ease-out all;
    transition: 0.5s ease-out all;
}

.item-list.ng-enter,
.item-list.ng-move {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.item-list.ng-move.ng-move-active,
.item-list.ng-enter.ng-enter-active {
    opacity: 1;
    height: 100%;
}

.item-list.ng-leave {
    opacity: 1;
    overflow: hidden;
}

.item-list.ng-leave.ng-leave-active {
    opacity: 0;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.view-container {
    position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.view-frame.ng-enter {
    -webkit-animation: 0.5s fade-in;
    -moz-animation: 0.5s fade-in;
    -o-animation: 0.5s fade-in;
    animation: 0.5s fade-in;
    z-index: 100;
}

.view-frame.ng-leave {
    -webkit-animation: 0.5s fade-out;
    -moz-animation: 0.5s fade-out;
    -o-animation: 0.5s fade-out;
    animation: 0.5s fade-out;
    z-index:99;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-moz-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-webkit-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

