
/* Components */

body {
  background-color: #e0e0e0;
  font-family: 'Roboto Condensed', Arial;
  font-size: 14px;
}

.container {
  overflow-y: scroll;
  padding: 0;
  width: auto;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: none;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  vertical-align: middle;
  color: #9d9d9d;
}

legend {
  margin-top: 32px;
  margin-bottom: 8px;
  border: none;
  font-size: 10px;
  text-transform: uppercase;
  color: #e0e0e0;
}

legend:first-child {
  margin-top: 16px;
}

.button-plus {
  margin-left: 8px;
  margin-right: 4px;
  padding: 0 !important;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  border: none;
  background-color: #02a8f3;
  font-family: Arial;
  font-weight: 400;
  line-height: 16px;
  color: #e0f4fd;
}



/* SIDEBAR */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 220px;
  background-color: #253137;
  /*box-shadow: inset -15px 0 15px -15px black;*/
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .sidebar-header .account {
  padding: 14px 32px;
  background-color: #5f7c8a;
}

.sidebar .sidebar-header .account .account-name {
  display: inline-block;
  margin: 8px 0;
  width: 100%;
  text-decoration: none;
  color: white;
}

.sidebar .sidebar-header .account .account-name .glyphicon {
  margin-right: 12px;
}

.sidebar .sidebar-header .account .indicator {
  display: inline-block;
  margin-right: 16px;
  font-size: 10px;
  text-decoration: none;
  color: #afbdc4;
}

.sidebar .sidebar-header .account .indicator .glyphicon {
  margin-right: 4px;
}

.sidebar .sidebar-header .company {
  display: inline-block;
  padding: 23px 32px;
  height: 64px;
  width: 100%;
  background-color: #536d79;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.sidebar .sidebar-header .company .glyphicon {
  transition: all 0.3s ease-out;
  float: right;
  margin-top: 4px;
  font-size: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.sidebar .sidebar-header .company[aria-expanded="true"] .glyphicon {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.sidebar .sidebar-header .add-company {
  color: #8fa3ad;
}

.sidebar .sidebar-header .list-group {
  margin: 0;
  background-color: #536d79;
}

.sidebar .sidebar-header .list-group-item:hover {
  background-color: #445963;
}

.sidebar a.list-group-item.active:after {
  content: '';
  height: 12px;
  width: 12px;
  background-color: #e0e0e0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(70%) rotate(45deg);
  -moz-transform: translateY(-50%) translateX(70%) rotate(45deg);
  -o-transform: translateY(-50%) translateX(70%) rotate(45deg);
  transform: translateY(-50%) translateX(70%) rotate(45deg);
}

.sidebar .list-group {
  border-radius: 0;
}

.sidebar a.list-group-item {
  overflow: hidden;
  padding: 14px 32px;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  color: #ebeef0;
  text-overflow: ellipsis;
}

.sidebar a.list-group-item:hover,
.sidebar a.list-group-item:focus {
  background: rgba(0,0,0, 0.15);
  color: #ebeef0;
}

.sidebar a.list-group-item.active,
.sidebar a.list-group-item.active:hover,
.sidebar a.list-group-item.active:focus {
  background: #02a8f3;
  /*box-shadow: inset 0 -1px rgba(255,255,255, 0.2), inset 0 1px rgba(0,0,0, 0.2);*/
}

.sidebar a.list-group-item .glyphicon {
  margin-right: 16px;
}

.sidebar .badge {
  padding: 0 4px;
  height: 16px;
  min-width: 16px;
  font-size: 8px;
  line-height: 16px;
  background-color: #E84539;
}



/* TOOLBAR */

.toolbar {
  position: fixed;
  top: 0;
  left: 220px;
  right: 0;
  height: 64px;
  background-color: #f9f9f9;
}

.toolbar .tab {
  cursor: pointer;
  display: table-cell;
  position: relative;
  float: right;
  height: 100%;
  min-width: 64px;
  font-size: 20px;
  line-height: 64px;
  text-align: center;
  vertical-align: middle;
  color: #e0e0e0;
} .toolbar .tab:hover {
  background-color: #f4f4f4;
}

.toolbar .tab .badge {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 3px 5px;
  height: 16px;
  min-width: 16px;
  background-color: #02a8f3;
  font-size: 10px;
}

.toolbar .account.tab .avatar {
  float: right;
  height: 100%;
  width: 64px;
  background: url('../images/icon-account-dark.svg') center center no-repeat;
  background-size: 32px;
}

.toolbar .account.tab .info {
  display: inline-block;
  float: right;
  padding-top: 22px;
  padding-left: 16px;
  line-height: 10px;
  text-align: right;
}

.toolbar .account.tab .info p {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: #9d9d9d;
}

.toolbar .account.tab .info small {
  font-size: 10px;
  color: #bcbcbc;
}



/* HEADER */

.header {
  position: fixed;
  top: 64px;
  left: 220px;
  right: 0;
  height: 64px;
}



/* MAIN */

.main {
  position: fixed;
  top: 64px;
  left: 220px;
  right: 0;
  bottom: 0;
}

.row {
  margin: 0 16px 2px;
  background-color: #f9f9f9;
}

.row:first-child {
  margin-top: 16px;
}

.row.padding-bottom {
  padding-bottom: 32px;
}

div[class^="col-"] {
  margin: 16px 0;
  padding: 0 32px;
}

.slim div[class*="col-"] {
  padding: 0 4px;
}

.nav-pills li a {
  margin: 0 4px;
  padding: 0 12px;
  height: 24px;

  background-color: #ccc;
  border-radius: 12px;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px;
  line-height: 24px;
  color: #f9f9f9;
} .nav-pills li:not(.active) a:hover, .nav-pills li:not(.active) a:focus {
  background-color: #bbb;
}

.nav-pills li.active a {
  background-color: #00ccff;
} .nav-pills li.active a:hover, .nav-pills li.active a:focus {
  background-color: #00ccff;
}

.main table img.img-circle {
  margin: 10px 0;
}

a.off {
	color: #DDDDDD;
} a.off:hover {
	color: #CCCCCC;
}

input[type="search"] {
    padding-right: 36px;
    height: 36px;
	background: rgba(0,0,0, 0.10) url('../images/icon-search.svg') right center no-repeat;
  border: none;
  box-shadow: none;
  text-overflow: ellipsis;
}

input[type="search"]:focus {
  box-shadow: none;
}

::-webkit-input-placeholder {color:rgba(0,0,0, 0.30);}
::-moz-placeholder          {color:rgba(0,0,0, 0.30);}/* Firefox 19+ */
:-moz-placeholder           {color:rgba(0,0,0, 0.30);}/* Firefox 18- */
:-ms-input-placeholder      {color:rgba(0,0,0, 0.30);}

.navbar-fixed-top {
  border: 0;
}

.navbar .dropdown-menu span.glyphicon {
	float: right;
	color: #DDDDDD;
}

button .glyphicon {
	margin-right: 4px;
}

.navbar-shop-select {
  display: inline-block;
  padding: 15px;
}

.navbar-shop-select a {
  color: white;
}

.text-red {
  color: #d9534f;
}

.modal .modal-content {
  background-color: #f9f9f9;
}

.modal-narrow .modal-dialog {
  width: 300px;
}



/* Notification popups */

.notifications {
    position: fixed;
    z-index: 9999;
}

.notifications > div {
    position: relative;
    margin: 5px 0px;
}



/* Positioning */

.notifications.top-right {
    right: 10px;
    top: 50px;
}

.notifications.top-left {
    left: 10px;
    top: 50px;
}

.notifications.bottom-left {
    left: 10px;
    bottom: 25px;
}

.notifications.bottom-right {
    right: 10px;
    bottom: 25px;
}



/* Table */

table.table tr th {
  border-bottom-width: 1px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: #9d9d9d;
}

table.table tr th,
table.table tr td {
  padding: 16px 8px;
}

table.table tr th:first-child,
table.table tr td:first-child {
  padding-left: 32px;
}

table.table tr th:last-child,
table.table tr td:last-child {
  padding-right: 32px;
}



/* MG Table */

table.mg-table {
  margin-bottom: 8px;
  border-collapse: separate;
  border-spacing: 2px;
}

table.mg-table .form-control {
  padding-left: 8px;
  width: auto;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: white;
}

table.mg-table select {
  -webkit-appearance: none;
  padding-right: 36px;
  background-image: url('../images/icon-dropdown.svg');
  background-position: right center;
  background-repeat: no-repeat;
}

table.mg-table .form-control option {
  color: #5f7c8a;
}

table.mg-table tr th {
  padding: 4px 8px;
}

table.mg-table tr:not(:first-child) td:not(.table-control) {
  background-color: #5f7c8a;
}

table.mg-table tr th,
table.mg-table tr td {

}

table.mg-table tr th:first-child,
table.mg-table tr td:first-child {
  padding-left: 0;
}

table.mg-table tr td.table-control button {
  padding-left: 8px;
  background-color: transparent;
  font-family: Arial;
}



/* Filters */

.filters form {
  margin-bottom: 8px;
}

.filters label {
  font-weight: 400;
  color: #5f7c8a;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
}

.filters input,
.filters select {
  margin-bottom: 2px;
  padding: 0 4px;
  height: 34px;
  background-color: transparent;
  border-radius: 0;
  border: 2px solid #5f7c8a;
  box-shadow: none;
  font-weight: 400;
  color: #5f7c8a;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.filters input:focus,
.filters select:focus {
  border-color: orange;
  outline: none;
  box-shadow: none;
}

.filters select {
  padding-right: 24px;
  background: url('../images/icon-dropdown-dark.svg') right center no-repeat;
  line-height: 14px;
}

.filters .close {
  padding: 8px 8px;
  height: 24px;
  font-family: Arial;
  font-size: 18px;
  color: #5f7c8a;
}

.filters .closeFilter {
    padding: 8px 8px;
    height: 24px;
    font-family: Arial;
    font-size: 18px;
    color: #5f7c8a;
}

.filters .close:focus {
  color: orange;
}

.filters option {
  background-color: #f9f9f9;
  border: none;
}

.filters input.selected,
.filters select.selected {
  background-color: #5f7c8a;
  color: #f9f9f9;
}

.filters select.selected {
  background: #5f7c8a url('../images/icon-dropdown.svg') right center no-repeat;
  line-height: 14px;
}

.filters select.selected option {
  color: #5f7c8a;
}

table.table tr.order-info td {
  padding: 0;
}

table.table tr.order-info td .row {
  margin: 0;
}

table.table tr.selected {
  background-color: #ebeef0;
}



/* Order Info */

.order-info input,
.order-info select {
  border-radius: 0;
  box-shadow: none;
}

.order-info label {
  color: #5f7c8a;
}

select.form-control {
  -webkit-appearance: none;
  padding-right: 36px;
  background-image: url('../images/icon-dropdown-dark.svg');
  background-position: right center;
  background-repeat: no-repeat;
}



.chat {
  position: relative;
  margin: 0 32px;
  height: 100%;
}

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 240px;
  bottom: 0;
  overflow-y: scroll;
  width: 60%;
  padding: 32px 64px;
  background-color: #f9f9f9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.dialog legend {
  text-align: center;
}

.dialog .line {
  display: inline-block;
  width: 100%;
}

.dialog .message {
  display: block;
  position: relative;
  margin-bottom: 8px;
  max-width: 70%;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 0 2px #afbdc4 inset;
  color: #afbdc4;
  -webkit-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
} .dialog .message:after {
  content: '';
  display: block;
  position: absolute;
  top: 14px;
  left: -4px;
  height: 8px;
  width: 8px;
  background-color: #f9f9f9;
  border-top: 2px solid #afbdc4;
  border-left: 2px solid #afbdc4;
  -webkit-transform: rotate(-35deg) skew(25deg);
  -moz-transform: rotate(-35deg) skew(25deg);
  -o-transform: rotate(-35deg) skew(25deg);
  transform: rotate(-35deg) skew(25deg);
} .dialog .message:before {
  content: attr(time);
  display: block;
  position: absolute;
  top: 11px;
  left: -36px;
  font-size: 10px;
  color: #e0e0e0;
}

.dialog .message textarea {
  padding: 8px 16px 3px;
  width: 100%;
  background: none;
  border: none;
  resize: none;
}

.dialog .message-left {
  float: left;
  margin-bottom: 4px;
  padding: 8px 16px;
  background-color: #ebeef0;
  box-shadow: none;
  color: #5f7c8a;
} .dialog .message-left:after {
  background-color: #ebeef0;
  border: none;
}

.dialog .message-right {
  float: right;
  margin-bottom: 4px;
  padding: 8px 16px;
  background-color: #ebeef0;
  box-shadow: none;
  color: #5f7c8a;
} .dialog .message-right:after {
  left: auto;
  right: -4px;
  background-color: #ebeef0;
  border: none;
} .dialog .message-right:before {
  left: auto;
  right: -36px;
}

.dialog .unread {
    background-color: #afbdc4;
    color: #f9f9f9;
}

.contacts {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40% !important;
  width: 240px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.contacts .list {
  position: absolute;
  overflow-y: hidden;
  top: 65px;
  left: 2px;
  right: 0;
  bottom: 0;
}

.contacts .contact {
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 10;
  margin-bottom: 1px;
  padding: 18px 16px 0 64px;
  height: 64px;
  width: 100%;
  background: #02a8f3 url('../images/icon-account.svg') 16px center no-repeat;
  background-size: 32px;
  box-shadow: 0 9px 30px rgba(0,100,255, 0.25), 0 5px 9px 0 rgba(0,0,0, 0.25);
  transform: translateX(1px);
}

.contacts .list .contact {
  position: initial;
  background: #f9f9f9 url('../images/icon-account-dark.svg') 16px center no-repeat;
  background-size: 32px;
  box-shadow: none;
  transition: all 0.3s ease-in;
  transform-origin: bottom center;
  transform-style: preserve-3d;
  transform: perspective(100px);
} .contacts .list .contact:hover {
  background-color: white;
  transition: all 0.3s ease-out;
}

.contacts .selected {
  background-color: cornsilk !important;
}

.contacts .list .contact.folded {
  margin-bottom: 0;
  padding-top: 0;
  height: 0;
  background-color: #bcbcbc;
  transform: rotateX(90deg);
}

.contacts .contact .info {
  display: inline-block;
  height: 100%;
  width: 100%;
  line-height: 14px;
  color: #e0f4fd;
}

.contacts .list .contact .info {
  color: #616161;
}

.contacts .contact .info p {
  display: inline-block;
  overflow: hidden;
  margin: 0;
  height: 14px;
  width: 100%;
}

.contacts .contact .info button {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: none;
}

.contacts .contact .info small {
  display: inline-block;
  overflow: hidden;
  height: 16px;
  width: 100%;
  font-size: 10px;
  color: #80d3f9;
  text-overflow: ellipsis;
}

.contacts .list .contact .info small {
  color: #bcbcbc;
}

.icon-more {
  opacity: 0.80;
  background: url('../images/icon-more.svg') center center no-repeat;
  background-size: 100%;
}

.list .icon-more {
  opacity: 0.20;
  background: url('../images/icon-more-dark.svg') center center no-repeat;
}

@media screen and (min-width: 992px) {

  .dialog {
    width: 75%;
  }

  .contacts {
    width: 25% !important;
  }

}