body {
	font-family: arial;
}

table {
	border-collapse: collapse;
	font-size: 15px;
	white-space: pre;
}

table td {
	padding: 0 8px;
	height: 22px;
	border: 1px solid gray;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

small {
	font-size: 10px;
}

.no-border {
	border: none;
}