body {
  padding-top: 40px;
  background-color: #eee;
}

form {
  max-width: 330px;
  padding: 16px;
  margin: 0 auto;
}

form label {
  font-size: 14px;
}

form .form-control {
  font-size: 16px;
}

form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

form .form-control:focus {
  z-index: 2;
}

form .glyphicon {
  cursor: pointer;
  top: 0;
}