.main.container
  -#.row
  -#  .responsive-table
  -#    %table.table
  -#      %thead
  -#        %tr
  -#          %th ID
  -#          %th Заказ
  -#          %th Сумма
  -#      %tbody
  -#        %tr{'ng-repeat' =>'bill in billing | filter:search'}
  -#          %td {{bill.id}}
  -#          %td {{bill.order_id}}
  -#          %td {{bill.amount}}
  .row.filters.padding-bottom
    .col-xs-12
      %legend Выплата по дате
      %form.form-inline
        .form-group
          %label с
          %input.form-control{"ng-class" => "{'selected' : date_from}", "ng-model" => "date_from", :type => "datetime-local"}
        .form-group
          %label до
          %input.form-control{"ng-class" => "{'selected' : date_to}", "ng-model" => "date_to", :type => "datetime-local"}
        .form-group
          %label контракт
          %select.form-control{"ng-class" => "{'selected' : contract_id}", "ng-model" => "contract_id", "ng-options" => "item.id as item.offer.name for item in contracts"}
            %option{:value => ""}
              По всем контрактам
          %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "date_from = '';date_to = '';contract_id = '';bills = '';"}
            %span{"aria-hidden" => "true"} &times;
      %form.form-inline
        %button.btn-primary.btn-sm{"ng-click" => "generate_bills()"}
          Показать счета
          %i.glyphicon.glyphicon-credit-card
  / filters
  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th Оплата
        %tbody
          %tr.item-list{"ng-show" => "bills"}
            %td {{bills.amount}}
  %br
  %br
  .row
    .col-xs-12
      %legend Выплаченные счета
  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th ID
            %th Пользователь
            %th Вебмастер
            %th Комментарий
            %th Сумма
            %th Дата от
            %th Дата до
            %th Дата оплаты чека
        %tbody
          %tr.item-list{"ng-repeat" => "check in checks"}
            %td {{check.id}}
            %td {{check.user.email}}
            %td {{check.webmaster.email}}
            %td {{check.comment}}
            %td {{check.amount}}
            %td {{check.date_from | date}}
            %td {{check.date_to | date}}
            %td {{check.created_at | date}}