.main.container
  .row
    .col-xs-12.col-md-4.col-md-push-4
      .btn-group.btn-group-justified{"aria-label" => "...", :role => "group"}
        .btn-group{:role => "group"}
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
            Все цели
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Все цели
            %li
              %a{:href => "#"} Покупка
            %li
              %a{:href => "#"} Установка приложения
            %li
              %a{:href => "#"} Регистрация
            %li
              %a{:href => "#"} Скачивание
        .btn-group{:role => "group"}
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
            Все страны
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Все страны
            %li
              %a{:href => "#"} Казахстан
            %li
              %a{:href => "#"} Россия
            %li
              %a{:href => "#"} Украина
  .row
    .responsive-table
      %table.table
        %thead
          %tr
            %th
            %th ID
            %th Название
            %th Цель
            %th Количество заказов
            %th EPC
            %th Страна
            %th Дата добавления
        %tbody
          %tr{'ng-repeat' =>'contract in contracts | filter:search'}
            %td
              %img.img-circle{:height => "80", :src => "/img/image.jpg", :width => "80"}/
            %td {{contract.id}}
            %td
              %a{:href => "#"} {{contract.offer.id|get_offer_by_id:"name"}}
              %br/
              %br/
              %button.btn.btn-danger{:type => "button", 'ng-click' => 'break_contract(contract)', "ng-show" => "contract.accepted && !contract.denied"} Расторгнуть
              %button.btn.btn-info{:type => "button", "ng-show" => "!contract.accepted"} В ожидании
              %button.btn.btn-warning{:type => "button", "ng-show" => "contract.denied"} Отклонено
            %td Покупка
            %td {{ contract.orders_count }}
            %td 22%
            %td {{ contract.offer.geos[0]}}
            %td 13 января 2015