.main.container
  .row
    .row
    .col-xs-12.col-sm-6.col-md-4.slim
      .form-group.col-xs-12
        %lable.control-label Выбор контракта
        %select.form-control{"ng-model" => "current_contract", 'ng-options' => 'contract as contract.offer.name for contract in contracts'}
      .form-group.col-xs-6
        %lable.control-label{:for => "old-price"} Старая цена
        %input#old-price.form-control{:type => "number", :value => "{{current_contract.offer.price}}"}
      .form-group.col-xs-6
        %lable.control-label{:for => "new-price"} Новая цена
        %input#new-price.form-control{:type => "number", :value => "{{current_contract.offer.price}}"}
      .form-group.col-xs-12
        %lable.control-label{:for => "domain"} Домен
        %input#domain.form-control{:type => "url", :value => "{{current_contract.urls[0]}}"}
      .form-group.col-xs-12
        %img.img-responsive{:alt => "Не удалось загрузить изображение", :src => "http://images.visitcanberra.com.au/images/canberra_hero_image.jpg"}
          .checkbox
            %label
              %input{:type => "checkbox"}
                Передавать домен в URL к прокладке
          .checkbox
            %label
              %input{:type => "checkbox"}
                Альтернативные имена меток
      .col-xs-12
        %h4 Метки
      .form-group.col-xs-6
        %lable.control-label{:for => "utm_source"} UTM_source
        %input#utm_source.form-control{:type => "text"}
      .form-group.col-xs-6
        %lable.control-label{:for => "utm_medium"} UTM_medium
        %input#utm_medium.form-control{:type => "text"}
      .form-group.col-xs-4
        %lable.control-label{:for => "utm_campaign"} UTM_campaign
        %input#utm_campaign.form-control{:type => "text"}
      .form-group.col-xs-4
        %lable.control-label{:for => "utm_term"} UTM_term
        %input#utm_term.form-control{:type => "text"}
      .form-group.col-xs-4
        %lable.control-label{:for => "utm_content"} UTM_content
        %input#utm_content.form-control{:type => "text"}
      .form-group.col-xs-12.text-center
        %button.btn.btn-primary Получить ссылку
    .col-xs-12.col-sm-6.col-md-8
      .row
        %h4 Главная страница
        %p Ваши партнерские ссылки:
        %pre{"ng-repeat" => "url in current_contract.urls"} {{url + (url?("?cid=" + current_contract.id):"")}}
      .row{"ng-hide" => "!current_contract.id"}
        %h4 Скрипт для получение цены
        %pre
          :preserve
            $(document).ready(function(){
              var priceAPI = "http://cparm.0day.kz/advert/company/offer/price?callback=?";
              $.getJSON( priceAPI, {id: {{current_contract.offer.id}}})
                .done(function( data ) {
                  //data.price - цена на товар, снизу пример присвоения значений на странице
                  //$('.j_new_price').text(data.price + '₸');
                  //$('.j_old_price').text(data.price*2 + '₸');
                });

              function getParameterByName(e){e=e.replace(/[\[]/,"\\[").replace(/[\]]/,"\\]");var a=new RegExp("[\\?&]"+e+"=([^&#]*)"),c=a.exec(location.search);return null===c?"":decodeURIComponent(c[1].replace(/\+/g," "))}var cid=getParameterByName("cid");cid&&$("#cid").val(cid);
            });
        %code
          Скопируйте и вставьте в &lt;script&gt;, если у вас не подключена библеотека jQuery не забудьте ее добавить