.main.container
  .row
    .responsive-table
      %table.table
        %thead
          %tr
            %th
            %th ID
            %th Название оффера
            %th Цена
            %th Валюта
            %th Описание
        %tbody
          %tr{'ng-repeat' =>'offer in offers | filter:search'}
            %td
              %img.img-circle{:height => "80", :src => "/img/image.jpg", :width => "80"}/
            %td {{offer.id}}
            %td
              %a{:href => "#"} {{offer.name}}
              %br/
              %button.btn.btn-default{:type => "button", 'ng-click' => 'connect_offer(offer)', "ng-hide" => "offer.connected"} Подключить
              %button.btn.btn-success{:type => "button", "ng-show" => "offer.connected"} Подключено
            %td {{offer.price}}
            %td {{currency[offer.currency]}}
            %td {{offer.description}}