.main.container
  .row.filters.padding-bottom
    .col-xs-12
      %legend Статистика по дате
      %form.form-inline
        .form-group
          %label с
          %input.form-control{"ng-class" => "{'selected' : date_from}", "ng-model" => "date_from", :type => "datetime-local"}
        .form-group
          %label до
          %input.form-control{"ng-class" => "{'selected' : date_to}", "ng-model" => "date_to", :type => "datetime-local"}
        .form-group
          %label по
          %select.form-control{"ng-model" => "contract_id", 'ng-options' => 'contract.id as contract.offer.name for contract in contracts'}
            %option{:value => "", :selected => "selected"}
              По всем контрактам
          %button.close{"aria-label" => "Close", :type => "button", "ng-click" => "date_from = '';date_to = '';contract_id='';"}
            %span{"aria-hidden" => "true"} &times;ssa
            
      %form.form-inline
        %button.btn-primary.btn-sm{"ng-click" => "generate_statistic()"}
          Фильтр
          %i.glyphicon.glyphicon-filter
  .row
    .responsive-table
      %table.table.orders-table.table-hover
        %thead
          %tr
            %th Все
            %th Обработка
            %th Подтвержден
            %th Брак
            %th Отменен
            %th % подтвержденных
            %th % бракованных
            %th % отмененных
        %tbody
          %tr.item-list
            %td {{statistics.process + statistics.accepted + statistics.canceled + statistics.defect}}
            %td {{statistics.process}}
            %td {{statistics.accepted}}
            %td {{statistics.defect}}
            %td {{statistics.canceled}}
            %td {{(100*statistics.accepted/(statistics.process + statistics.accepted + statistics.canceled + statistics.defect))| number:2}}%
            %td {{(100*statistics.defect/(statistics.process + statistics.accepted + statistics.canceled + statistics.defect))| number:2}}%
            %td {{(100*statistics.canceled/(statistics.process + statistics.accepted + statistics.canceled + statistics.defect))| number:2}}%