#mainMenu.sidebar.container
  .sidebar-header
    .sidebar-header
      %a#currentCompany.company{"aria-controls" => "collapseListGroup1", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseListGroup1"}
        {{company.name}}
        %span.glyphicon.glyphicon-chevron-down
      #collapseListGroup1.list-group.collapse{"aria-expanded" => "false", "aria-labelledby" => "collapseListGroupHeading1", :role => "tabpanel", "data-toggle" => "collapse", "data-target" => "#collapseListGroup1"}
        %a.list-group-item{'ng-repeat' => 'comp in companies track by $index', 'ng-hide'=>"company.id == comp.id", 'ng-click' => 'change_current_company(comp)'}
          %span.glyphicon.glyphicon-pencil{"ng-click" => "edit_company(comp.id)", 'ng-if' => "hasAccess('advert_admin')"}
          {{comp.name}}
        %a.list-group-item.add-company{'ng-if' => "hasAccess('advert_admin') || !company", :href => "", "data-target" => "#company-add-modal", "data-toggle" => "modal"}
          %span.glyphicon.glyphicon-plus>
          Добавить
  .list-group
    %a.list-group-item{:href => "/advert/offers", 'ng-if' => "hasAccess(access['OffersCtrl'])", 'ng-class' => "{active:isActive('/advert/offers')}"}
      %span.glyphicon.glyphicon-list
      Офферы
    %a.list-group-item{href: '/advert/contracts', 'ng-if' => "hasAccess(access['ContractsCtrl'])", 'ng-class' => "{active:isActive('/advert/contracts')}"}
      %span.glyphicon.glyphicon-briefcase
      Контракты
    %a.list-group-item{href: '/advert/employees', 'ng-if' => "hasAccess(access['EmployeesCtrl'])", 'ng-class' => "{active:isActive('/advert/employees')}"}
      %span.glyphicon.glyphicon-user
      Сотрудники
    %a.list-group-item{href: '/advert/orders', 'ng-if' => "hasAccess(access['OrdersCtrl'])", 'ng-class' => "{active:isActive('/advert/orders')}"}
      %span.glyphicon.glyphicon-thumbs-up
      Заказы
    %a.list-group-item{href: '/advert/customers', 'ng-if' => "hasAccess(access['CustomersCtrl'])", 'ng-class' => "{active:isActive('/advert/customers')}"}
      %span.glyphicon.glyphicon-star
      Клиенты
    %a.list-group-item{:href => "/advert/products", 'ng-if' => "hasAccess(access['ProductsCtrl'])", 'ng-class' => "{active:isActive('/advert/products')}"}
      %span.glyphicon.glyphicon-shopping-cart
      Товары
    %a.list-group-item{:href => "/advert/warehouses", 'ng-if' => "hasAccess(access['WarehousesCtrl'])", 'ng-class' => "{active:isActive('/advert/warehouses')}"}
      %span.glyphicon.glyphicon-home
      Склады
    %a.list-group-item{:href => "/advert/logs", 'ng-if' => "false", 'ng-class' => "{active:isActive('/advert/logs')}"}
      %span.glyphicon.glyphicon-eye-open
      Журнал
    %a.list-group-item{:href => "/advert/billing", 'ng-if' => "hasAccess('advert_admin')", 'ng-class' => "{active:isActive('/advert/billing')}"}
      %span.glyphicon.glyphicon-usd
      Биллинг
    %a.list-group-item{:href => "/advert/messages", 'ng-if' => "hasAccess(access['MessagesCtrl'])", 'ng-class' => "{active:isActive('/advert/messages')}"}
      %span.glyphicon.glyphicon-comment
      Чат
      %span.badge{"ng-show" => "false"} 1
    %a.list-group-item{:href => "/advert/statistic", 'ng-if' => "hasAccess(access['StatisticCtrl'])", 'ng-class' => "{active:isActive('/advert/statistic')}"}
      %span.glyphicon.glyphicon-stats
      Статистика
    %a.list-group-item{:href => "/advert/settings", 'ng-if' => "hasAccess(access['SettingsCtrl'])", 'ng-class' => "{active:isActive('/advert/settings')}"}
      %span.glyphicon.glyphicon-cog
      Параметры
    %a.list-group-item{:href => '/advert/notifications', 'ng-if' => "hasAccess()", 'ng-class' => "{active:isActive('/advert/notifications')}"}
      %span.glyphicon.glyphicon-bell
      Уведомления