.toolbar
  .col-xs-12.col-sm-6.col-md-3
    %input.form-control{:name => "search", :placeholder => "Поиск", :type => "search", "ng-model" => "search.$"}
  .account.tab
    .avatar
    .info
      %p #{current_user.name if current_user}
      %small #{current_user.email if current_user}
  .tab
    %a{:href => "/access/sign_out/", :target => "_self"}
      %span.glyphicon.glyphicon-off
  .tab
    %a{:href => "/advert/messages"}
      %span.glyphicon.glyphicon-comment
      %span.badge 1