!!!
%html
  %head
    %title CPARM:Access
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = stylesheet_link_tag    'sign', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body
    = yield
