!!!
%html
  %head
    %title CPARM:Advert
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = stylesheet_link_tag    'advert', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'advert.app', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body{'ng-app' => 'advert', 'ng-controller' => 'AdvertController'}
    .container-fluid{'ng-controller' => 'CompaniesCtrl'}
      .notifications.top-right

      = render 'advert/toolbar'
      = render 'advert/menu'
      = render 'advert/modals/main'

      %script{'ng-if' => "hasAccess('advert_admin')", id: 'offers.html', type: 'text/ng-template'}
        = render 'advert/modules/offers'
        = render 'advert/modals/offers'

      %script{'ng-if' => "hasAccess('advert_admin')", id: 'contracts.html', type: 'text/ng-template'}
        = render 'advert/modules/contracts'
        = render 'advert/modals/contracts'

      %script{'ng-if' => "hasAccess('advert_admin, log_manager, log_operator')", id: 'products.html', type: 'text/ng-template'}
        = render 'advert/modules/products'
        = render 'advert/modals/products'

      %script{'ng-if' => "hasAccess('advert_admin, log_manager, log_operator')", id: 'warehouses.html', type: 'text/ng-template'}
        = render 'advert/modules/warehouses'
        = render 'advert/modals/warehouses'

      %script{'ng-if' => "hasAccess('advert_admin, log_manager, storekeeper')", id: 'warehouse.html', type: 'text/ng-template'}
        = render 'advert/modules/warehouse'
        = render 'advert/modals/warehouse'

      %script{'ng-if' => "hasAccess('advert_admin, log_manager, log_operator', 'call_operator', 'call_manager')", id: 'orders.html', type: 'text/ng-template'}
        = render 'advert/modules/orders'
        = render 'advert/modals/orders'

      %script{'ng-if' => "hasAccess('advert_admin, log_manager, log_operator', 'call_operator', 'call_manager')", id: 'customers.html', type: 'text/ng-template'}
        = render 'advert/modules/customers'
        = render 'advert/modals/customers'

      %script{'ng-if' => "hasAccess('advert_admin')", id: 'employees.html', type: 'text/ng-template'}
        = render 'advert/modules/employees'
        = render 'advert/modals/employees'

      %script{'ng-if' => "hasAccess()", id: 'notifications.html', type: 'text/ng-template'}
        = render 'advert/modules/notifications'

      %script{'ng-if' => "hasAccess('advert_admin')", id: 'settings.html', type: 'text/ng-template'}
        = render 'advert/modules/settings'

      %script{'ng-if' => "hasAccess('advert_admin')", id: 'dictionary.html', type: 'text/ng-template'}
        = render 'advert/modules/dictionary'
        = render 'advert/modals/dictionary'

      %script{'ng-if' => "hasAccess('advert_admin')", id: 'billing.html', type: 'text/ng-template'}
        = render 'advert/modules/billing'

      %script{'ng-if' => "hasAccess('advert_admin')", id: 'statistic.html', type: 'text/ng-template'}
        = render 'advert/modules/statistic'

      %script{'ng-if' => "hasAccess('advert_admin')", id: 'logs.html', type: 'text/ng-template'}
        = render 'advert/modules/logs'

      %script{'ng-if' => "hasAccess()", id: 'messages.html', type: 'text/ng-template'}
        = render 'advert/modules/messages'
        = render 'advert/modals/messages'

      %script{id: 'no_access.html', type: 'text/ng-template'}
        = render 'advert/no_access'

      %div.view-container
        %ng-view.view-frame
        = yield


