!!!
%html
  %head
    %title CPARM:WebMaster
    = stylesheet_link_tag    'wm', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'wm.app', 'data-turbolinks-track' => false

    = csrf_meta_tags
  %body{'ng-app' => 'webmaster', 'ng-controller' => 'WebmasterController'}
    .container-fluid
      .notifications.top-right
      -#= render 'webmaster/header'

      = render 'webmaster/toolbar'
      = render 'webmaster/menu'
      = render 'webmaster/modals/main'

      %script{id: 'offers.html', type: 'text/ng-template'}
        = render 'webmaster/modules/offers'
        = render 'webmaster/modals/offers'

      %script{id: 'contracts.html', type: 'text/ng-template'}
        = render 'webmaster/modules/contracts'
        = render 'webmaster/modals/contracts'

      %script{id: 'getlink.html', type: 'text/ng-template'}
        = render 'webmaster/modules/getlink'

      %script{id: 'billing.html', type: 'text/ng-template'}
        = render 'webmaster/modules/billing'

      %script{id: 'notifications.html', type: 'text/ng-template'}
        = render 'webmaster/modules/notifications'

      %script{id: 'statistic.html', type: 'text/ng-template'}
        = render 'webmaster/modules/statistic'

      %ng-view
      = yield